﻿@model PagedList.IPagedList<BeeKeepersDataBase.tblproperty>
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
     .alert-success {
        background-color: #b2dba1;
        border-color: #d6e9c6;
        color: #468847;
        margin-left: 285px;
        margin-top: 0px;
        padding: 15px;
        position: absolute;
        text-align: center;
        width: auto;
    }

    .myactivitylist {
        float: right;
        width: 700px;
        margin: 10px;
        margin-left: 50px;
    }

    .myactivitylist_node {
        float: left;
        width: 680px;
        margin: 5px;
        background: #E7D6A5;
    }

    .myactivitylist_img {
        float: left;
        width: 110px;
        height: 110px;
        margin: 5px;
    }

    .myactivitylist_detail {
        float: left;
        width: 545px;
        height: auto;
        margin: 5px;
    }

    .myactivitylist_label {
        float: left;
        width: 530px;
        height: auto;
        margin: 5px;
        min-height:65px;
    }

    .myactivitylist_label_action {
        float: left;
        width: 530px;
        height: auto;
        margin: 5px;
    }
    .myactivitylist_labelsub  {
        background: none repeat scroll 0 0 #fff;
    float: left;
    height: 20px;
    margin: 2px 20px 2px 2px;
    padding: 7px;
    width: auto;
    color:#55703C;
    border-radius:5px;
    border:1px solid;
    }
    .myactivitylist_labelsub a {
       text-decoration:none; 
    color:#55703C;
    }
    .myactivitylist_labelsub a:hover {
       text-decoration:none; 
       color:#000
    }
    .myactivitylist_labelsub:hover {
        background: none repeat scroll 0 0 #7EB69C;
    float: left;
    height: 20px;
    margin: 2px 20px 2px 2px;
    padding: 7px;
    width: auto;
    border-radius:5px;
    border:1px solid;
    }
</style>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@Html.Partial("loginmenus")
<div class="right-db">
    <div class="full">

        <h1>@BeeKeepersBusiness.Resource.MyProperties
          <span style="float: right; font-size: 18px; font-family: arial; font-style: normal;">
              <a href="@Url.Action("Create", "Property")" style="text-decoration:none;color:#0B4B00;">
                  <img src="~/Images/addactivitygreen.png" />
                  &nbsp;@BeeKeepersBusiness.Resource.AddNewProperty</a>
          </span>
        </h1>
    </div>
    <div id="message">
        @if (@ViewBag.status != null && @ViewBag.status == "1")
        {
            <div class="alert alert-success" role="alert">@ViewBag.message</div> 
            <script type="text/javascript">
                window.setTimeout(function () { HideMessage(); }, 2000);
            </script>
        }
        else if (@ViewBag.status != null && @ViewBag.status == "0")
        { 
            <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
            <script type="text/javascript">
                window.setTimeout(function () { HideMessage(); }, 2000);
            </script>
        }
    </div>
    <div class="clear"></div>
    <div class="myactivitylist">
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
            <div class="myactivitylist_node">
                <div class="myactivitylist_img">
                    <img src="~/Images/location_btn@2x.png" />
                </div>
                <div class="myactivitylist_detail">
                    <div class="myactivitylist_label">
                        @item.propertyname
                    </div>
                    <div class="myactivitylist_label_action">
                        <div class="myactivitylist_labelsub">
                            <a href="@Url.Action("ViewAround", "property", new { @id = @item.id })">
                                <div style="float:left;"><img src="~/Images/arround_activity.png" /></div>
                                &nbsp;@BeeKeepersBusiness.Resource.Viewnearbyactivities</a>
                        </div>
                        <div class="myactivitylist_labelsub">
                            <a href="@Url.Action("Edit", "property", new { @id = @item.id })" >
                                <div style="float:left;"><img src="~/Images/editgreen_icon.png" /></div>
                                &nbsp;@BeeKeepersBusiness.Resource.Edit</a>
                        </div>
                        <div class="myactivitylist_labelsub">
                            <a href="@Url.Action("Delete", "property", new { @id = @item.id })" onclick= "return confirm('Êtes-vous sûr de vouloir supprimer cette propriété?')">
                                <div style="float:left;"><img src="~/Images/delete_icon.png" /></div>
                                &nbsp;@BeeKeepersBusiness.Resource.Delete</a>
                        </div>
                    </div>
                </div>
            </div>    
            }
            
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        }
        else
        {
            <div style="float: left; width: 100%; text-align: center;">@BeeKeepersBusiness.Resource.NoPropertiesaddedyet</div>
        }
    </div>

</div>


