﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
   

    .input-block {
        width: 96%;
        margin: 10px;
    }

    .alert-danger {
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
        float: left;
        margin-left: 20px;
        margin-top: 135px;
        padding: 10px;
        position: absolute;
        text-align: center;
        width: 728px;
    }

    .alert-success {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #468847;
        margin-left: 24px;
        margin-top: 128px;
        padding: 8px;
        position: absolute;
        text-align: center;
        width: 702px;
        z-index: 1000;
    }

    #map-canvas {
        border: 1px solid #777777;
        border-radius: 5px;
        height: 470px;
        width: 691px;
    }
    .name-heading {
    background: none repeat scroll 0 0 #5c7c3b;border-radius: 5px;color: #fff;float: left;margin-bottom: 10px;padding: 12px;width: 96%;
    }
</style>
@Html.Partial("loginmenus")
<div class="right-db">
    <div class="full">
        <h1>@BeeKeepersBusiness.Resource.Viewnearbyactivities</h1>
    </div>

    
    <div style="float: left; padding: 10px; text-align: justify">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js" integrity="sha256-FgiaQnQazF/QCrF9qSvpRY6PACn9ZF8VnlgqfqD1LsE=" crossorigin="anonymous"></script>

        <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAPAJCWKEzIL_kM-EBU9e-u0kMDffzoVwE&sensor=false&callback=initialize"></script>
        <script type="text/javascript">
            function initialize() {
                var center = new google.maps.LatLng(@ViewBag.latitude, @ViewBag.longitude);
                var marker;
                var txtLat;
                var txtlong;
                var bool = true;
                txtLat = @ViewBag.latitude;
                txtlong = @ViewBag.longitude;
                bool = false;

                var myLatlng = new google.maps.LatLng(txtLat, txtlong);
       
                image_me = "http://beeconnected.ca/images/pin_farmer.png";
        
        
                var mapOptions = {
                    zoom: bool ? 8 : 10,
                    center: myLatlng,
                    MapTypeId: google.maps.MapTypeId.TERRAIN

                };
                var map = new google.maps.Map(document.getElementById('map-canvas'),
                  mapOptions);
                var circle = new google.maps.Circle({
                    center: center,
                    map: map,
                    radius: 5000,          // IN METERS.
                    fillColor: '#FF6600',
                    fillOpacity: 0.3,
                    strokeColor: "#FFF",
                    strokeWeight: 0         // DON'T SHOW CIRCLE BORDER.
                });
                var bounds = new google.maps.LatLngBounds();
                var infowindow = new google.maps.InfoWindow();
                var latlng = new google.maps.LatLng(@ViewBag.latitude, @ViewBag.longitude);
                bounds.extend(latlng);
                marker=new google.maps.Marker({map: map,icon: image_me,position: new google.maps.LatLng(@ViewBag.latitude, @ViewBag.longitude)});

        @foreach (var item in Model)
        {
            if (item.usertype == 1)
            {
                @:image = "http://beeconnected.ca/images/pin_beekeeper.png";
            }
            else
            {
                @:image = "http://beeconnected.ca/images/pin_contractor.png";
            }
            @:var latlng = new google.maps.LatLng(@item.latitude, @item.longitude);
                                            @:bounds.extend(latlng);
                                            @:var marker = new google.maps.Marker({clickable: true,map: map,icon: image,position: new google.maps.LatLng(@item.latitude, @item.longitude)});
                                            @:google.maps.event.addListener(marker, 'click', function() {infowindow.setContent('<div style="float:left;width:200px;"><div style="float:left;width:200px;">@item.username</div><div style="float:left;width:200px;"><a href="@Url.Action("index", "userprofile", new {@id = @item.userid,@actid=@item.id })">@item.note</a></div></div>');infowindow.open(map, this);});
        }
        
            }
            google.maps.event.addDomListener(window, 'load', initialize);
    
        </script>
        <div style="float: left; width: 100%;">
            <div class="name-heading">
                <div style="float: left; width: 60%;">
                    @BeeKeepersBusiness.Resource.PropertyName : @ViewBag.propertyName
                </div>
            </div>
            <div style="float: left; width: 100%;">
                <div id="map-canvas"></div>
            </div>
        </div>
    </div>

</div>
