﻿@model BeekeepersWeb.Models.UserChangePasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#changepassword").addClass("leftmenuactive");
    });
    //function ResetForm() {
    //    $("#OldPassword").val("");
    //    $("#NewPassword").val("");
    //    $("#ConfirmPassword").val("");

    //}
</script>
<style type="text/css">
    .form_left {
        float: left;
        margin: 5px 5px 5px 145px;
        width: 60%;
    }
</style>
@Html.Partial("loginmenus")
@using (Html.BeginForm())
{
    
   
     
    <div class="right-db">
        <div class="full">
            <h1><i>
                <img src="~/images/Register.png"></i>@BeeKeepersBusiness.Resource.ChangePassword</h1>
        </div>

        @Html.Partial("ValidationSummary", ViewData.ModelState)
        <div id="message">

            @if (@ViewBag.status != null && @ViewBag.status == "1")
            {
                <div class="alert alert-success" role="alert">@ViewBag.message</div> 
                <script type="text/javascript">
                    window.setTimeout(function () { HideMessage(); }, 2000);
                </script>
            }
            else if (@ViewBag.status != null && @ViewBag.status == "0")
            { 
                <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
                <script type="text/javascript">
                    window.setTimeout(function () { HideMessage(); }, 2000);
                </script>
            }
        </div>
        <div class="clear"></div>
        <div class="Register_bg">
            <div class="form_left">
                @Html.TextBoxFor(model => model.OldPassword, new { @placeholder = @BeeKeepersBusiness.Resource.OldPassword, maxlength = 20, autocomplete = "off", @type = "password" })
            </div>
            <div class="form_left">
                @Html.TextBoxFor(model => model.NewPassword, new { @placeholder = @BeeKeepersBusiness.Resource.NewPassword, maxlength = 20, autocomplete = "off", @type = "password" })
            </div>
            <div class="form_left">
                @Html.TextBoxFor(model => model.ConfirmPassword, new { @placeholder = @BeeKeepersBusiness.Resource.Confirmpassword, maxlength = 20, autocomplete = "off", @type = "password" })
            </div>

            <div class="clear"></div>

        </div>
        <div class="Register_bottom">
            @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value=="fr")
            {
                <input type="image" src="~/Images/submit_BTN.png" onclick="return chekstatus();" />
                <a href="@Url.Action("Index","Dashboard")"><img style="cursor: pointer;" src="~/images/cancelbtn.png" /></a>
            }
            else
            {
                <input type="image" src="~/Images/submit_BTN_en.png" onclick="return chekstatus();" />
                <a href="@Url.Action("Index","Dashboard")"><img style="cursor: pointer;" src="~/images/cancelbtn_en.png" /></a>
            }
            
        </div>
    </div>

    
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

