﻿@model BeekeepersWeb.Models.ForgotPassword

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script type="text/javascript">
    function resetForm()
    {
        $("#Email").val("");
    }
    
</script>*@


@using (Html.BeginForm())
{
    <div class="right-db_nonlogin">
        <div class="full">
            <h1><i>
            <img src="~/images/member_login.png"></i>@BeeKeepersBusiness.Resource.ForgotPassword</h1>
        </div>
   
        <div class="clear"></div>
        @Html.Partial("ValidationSummary", ViewData.ModelState)
        <div id="message">

            @if (@ViewBag.status != null && @ViewBag.status == "1")
            {
                <div class="alert alert-success" role="alert">@ViewBag.message</div> 
                <script type="text/javascript">
                    window.setTimeout(function () { HideMessage(); }, 2000);
                </script>
            }
            else if (@ViewBag.status != null && @ViewBag.status == "0")
            { 
                <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
                <script type="text/javascript">
                    window.setTimeout(function () { HideMessage(); }, 2000);
                </script>
            }
        </div>
        <div class="clear"></div>
        <div class="login_bg">
            <div class="lock">
                <a href="#">
                    <img src="~/images/lock.png"></a>
            </div>
            <div class="login_form">
               @Html.TextBoxFor(model => model.Email, new { @placeholder = @BeeKeepersBusiness.Resource.Email, autocomplete = "off" })
            </div>
            @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value=="fr")
            {
                <input type="image"  src="~/images/submit_BTN.png">
                <a href="@Url.Action("Login","UserLogin")"><img src="~/images/cancel_btn.png" style="cursor:pointer;" /></a>
            }
            else
            {
                <input type="image"  src="~/images/submit_BTN_en.png">
                <a href="@Url.Action("Login","UserLogin")"><img src="~/images/cancel_btn_en.png" style="cursor:pointer;" /></a>
            }
            <div class="clear"></div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
