﻿@model BeekeepersWeb.Models.LoginModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script type="text/javascript">
    function resetForm() {
        $("#UserName").val("");
        $("#Pasword").val("");
        document.getElementById("chkrememberme").checked = false;

    }
</script>*@


@using (Html.BeginForm())
{
    <div class="right-db_nonlogin">
        <div class="full">
            <h1><i>
            <img src="~/images/Register.png"></i>@BeeKeepersBusiness.Resource.MemberLogin</h1>
        </div>
   
        <div class="clear"></div>
        @Html.Partial("ValidationSummary", ViewData.ModelState)
        <div id="message">

            @if (@ViewBag.status != null && @ViewBag.status == "1")
            {
                <div class="alert alert-success" role="alert">@ViewBag.message</div> 
                <script type="text/javascript">
                    window.setTimeout(function () { HideMessage(); }, 2000);
                </script>
            }
            else if (@ViewBag.status != null && @ViewBag.status == "0")
            { 
                <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
                <script type="text/javascript">
                    window.setTimeout(function () { HideMessage(); }, 2000);
                </script>
            }
        </div>
        <div class="clear"></div>
        <div class="login_bg">
            <div class="lock">
                <a href="#">
                    <img src="~/images/lock.png"></a>
            </div>
            <div class="login_form">
                @Html.TextBoxFor(model => model.UserName, new { @placeholder = @BeeKeepersBusiness.Resource.UserName, maxlength = 20, autocomplete = "off" })


                @Html.TextBoxFor(model => model.Pasword, new { @placeholder = @BeeKeepersBusiness.Resource.Password, maxlength = 16, @type = "password", autocomplete = "off" })


                @*<input id="chkrememberme" type="checkbox" value="" class="check_box" name="chkrememberme">*@
                @Html.CheckBoxFor(Model => Model.Remeberme, new { @class = "check_box" })
               <span style="float:left;">@BeeKeepersBusiness.Resource.Remembermylogindetails</span>
                <ul class="forgot_text">
                    <li>@Html.ActionLink(@BeeKeepersBusiness.Resource.Forgotusername, "ForgetUsername", "UserLogin")</li>
                    <li>|&nbsp;&nbsp;@Html.ActionLink(@BeeKeepersBusiness.Resource.Forgotyourpassword, "ForgetPassword", "UserLogin")</li>
                    <li>|&nbsp;&nbsp;@Html.ActionLink(@BeeKeepersBusiness.Resource.Newuserregisterhere, "Create", "Registration")</li>
                </ul>
                <div class="btn" style="display: none">
                    <a href="#">
                        <img src="~/images/login_BTN.png"></a><a href="#"><img src="~/images/cancel_btn.png"></a>
                </div>
            </div>
            @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value=="fr")
            {
                <input type="image" src="~/images/login_BTN.png">
                <a href="@Url.Action("index","Home")"><img src="~/images/cancel_btn.png" style="cursor: pointer;" /></a>
            }
            else
            {
                <input type="image" src="~/images/login_BTN_en.png">
                <a href="@Url.Action("index","Home")"><img src="~/images/cancel_btn_en.png" style="cursor: pointer;" /></a>
            }
            
            <div class="clear"></div>
        </div>
    </div>
    
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
