@import url("reset.css");
@import url("font-awesome.css");
/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
	display: block;
}
mark, rp, rt, ruby, summary, time {
	display: inline
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
.clr {
	clear: both;
	float: none;
}
*::-moz-selection {
 background: none repeat scroll 0 0 #222222;
 color: #FFFFFF !important;
}
/** Light **/
@font-face {
	font-family: 'Conv_proximanova-light-webfont';
	src: url('../fonts/proximanova-light-webfont.eot');
	src: url('../fonts/proximanova-light-webfont.woff') format('woff'), url('../fonts/proximanova-light-webfont.ttf') format('truetype'), url('../fonts/proximanova-light-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/** Regular **/
@font-face {
	font-family: 'Conv_proximanova-regular-webfont';
	src: url('../fonts/proximanova-regular-webfont.eot');
	src: url('../fonts/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*********/
body {
	background: #ededeb !important;
	font-family: 'Conv_proximanova-light-webfont';
	font-size: 100%;
}
.container {
	margin: auto;
	max-width: 1015px;
}
header {
	background: #638141;
	float: left;
	width: 100%;
	position: relative;
	z-index: 99;
    height:55px;
}
.logo {
	padding: 10px;
}
.menu li {
	float: left;
}
.menu li a {
	color: #bbbbbb;
	padding: 15px 15px;
	display: block;
	border: 1px solid #343434;
}
.menu li a:hover {
	background: #343434 !important;
}
.ActiveTab {
	background: #343434 !important;
}
.topbuttons {
	float: left;
	margin: 8px 0 0 20px;
}
.topbuttons li {
	float: left;
	margin: 0 2px 0 0;
}
.topbuttons li a {
	display: block;
	padding: 6px 15px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: #151414 0px 1px 1px;
	-moz-box-shadow: #151414 0px 1px 1px;
	box-shadow: #151414 0px 1px 1px;
	background: #4d4d4d;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4d4d4d), to(#343434));
	background: -webkit-linear-gradient(#4d4d4d, #343434);
	background: -moz-linear-gradient(#4d4d4d, #343434);
	background: -ms-linear-gradient(#4d4d4d, #343434);
	background: -o-linear-gradient(#4d4d4d, #343434);
	background: linear-gradient(#4d4d4d, #343434);
}
.topbuttons li a:hover {
	background: #FC5002;
}
.topnavigation {
	float: left;
	border: 1px solid red;
}
.menutitle {
	display: none;
	color: #535353;
}
/*******Custom Media Queries*****************/
@media only screen and (max-width: 767px) {
.menutitle {
	display: block;
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
}
.navbar-nav {
	margin: auto;
	width: 98%;
}
.navbar-nav li:first-child a {
	border-radius: 0 !important;
}
.menu li {
	display: block;
	width: 100%;
}
.topbuttons {
	margin: 8px 0 0 0 !important;
	width: 100%;
}
.topbuttons li {
	width: 49%;
}
.topbuttons li a {
	border: 1px solid #343434 !important;
	color: #bbbbbb !important;
	padding: 20px;
}
.navbar-collapse {
	margin: 0px !important;
	padding: 0px !important;
	width: 100%;
}
ul.nav {
	margin: 0;
	padding: 0;
	width: 100%;
}
}
@media only screen and (min-width:768px) and (max-width:1024px) {
.navbar-nav li a {
	padding: 15px 13px !important;
}
}
@media only screen and (max-width: 991px) {
.toprightnav {
	display: block !important;
	width: 100% !important;
	margin: 10px 0;
}
.logo {
	text-align: center !important;
	width: 100% !important;
	display: block !important;
	margin: 10px 0;
}
}
.navbar {
	margin: 0 !important;
}
.navbar-inverse .navbar-toggle {
	border-color: #535353 !important;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background: #535353 !important;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #343434 !important;
}
.megabg {
	background: url(../images/20.jpg) no-repeat center top #222222;
/*	background-size: 100%;*/
	min-height: 650px;
	color: #fff;
	text-align: center;
	position: relative;
}
.megabg h1 {
	text-shadow: 1px 1px 1px #000;
	margin: 15% 0 0 0;
	font-weight: normal;
	font-size: 250%;
}
.orderonline-btn {
	margin: 80px 0 0 0;
	float: left;
	font-size: 20px;
	width: 100%;
}
.orderonline-btn a {
	box-shadow: 0px 0px 0px 8px rgba(255,255,255,0.3);
	border-radius: 50px;
	padding: 20px 56px;
	color: #FFF;
	background: #ff8a01;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff8a01), to(#FF2B01));
	background: -webkit-linear-gradient(#ff8a01, #FF2B01);
	background: -moz-linear-gradient(#ff8a01, #FF2B01);
	background: -ms-linear-gradient(#ff8a01, #FF2B01);
	background: -o-linear-gradient(#ff8a01, #FF2B01);
	background: linear-gradient(#ff8a01, #FF2B01);
}
.orderonline-btn a:hover {
	color: #fff;
	background: #ff8a01;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff8a01), to(#FF2B01));
	background: -webkit-linear-gradient(#ff8a01, #FF2B01);
	background: -moz-linear-gradient(#ff8a01, #FF2B01);
	background: -ms-linear-gradient(#ff8a01, #FF2B01);
	background: -o-linear-gradient(#ff8a01, #FF2B01);
	background: linear-gradient(#ff8a01, #FF2B01);
}
.updates {
	background: rgba(0,0,0,0.5);
	padding: 10px;
	color: #fff;
	position: absolute;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	color: #bbbbbb;
}
.slider {
	background: #4d4d49;
	padding-bottom: 30px;
}
.slider .col-sm-2 {
	background: #ededeb;
	/*width: 160px;
	margin: 0 2px;*/
	height: 160px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #4D4D49;
}
.slider h2 {
	text-align: center;
	color: #fff;
	font-size: 22px;
	margin: 30px 0 30px 0;
}
.slider .col-sm-2 h3 {
	font-size: 16px;
	margin: 20px 0 8px 0;
}
.slider .col-sm-2 figure {
	height: 90px;
	width: 20%;
	margin: auto;
	display: table-cell;
	vertical-align: middle;
}
.slider .col-sm-2 figure img {
	width: 60px;
	margin: auto;
}
.HomegaeContent {
	margin: 50px 0 0 0;
}
.HomegaeContent h4 {
	text-align: center;
	font-size: 34px;
}
.bodytext {
	text-align: center;
	font-size: 22px;
}
.keypoints {
	margin: 50px auto;
	width: 664px;
}
.whitebox {
	min-height: 216px;
	background: url(../images/colorstrip.png) repeat-x bottom center #fff;
	border-radius: 5px;
	padding: 10px 50px;
	text-align: center;
	margin: 0 0 25px 0;
}
.buttons {
	background: #FC5002;
	display: block;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-family: 'Conv_proximanova-light-webfont' !important;
}
.howitworks {
	padding: 0 !important;
	background: #000 url(../images/colorstrip.png) repeat-x bottom center !important;
}
.phonenumber {
	font-size: 37px;
	color: #FC5002;
}
.buttons:hover {
	color: #EDEDEB;
	background: #222222;
}
footer {
	background: #638141;
	float: left;
	width: 100%;
	padding: 20px 0;
	text-align: center;
	color: #4c4c49;
}
.footerlinks {
	text-align: center;
	margin: 20px 0;
	float: left;
	width: 100%;
}
.footerlinks li {
	float: left;
	margin: 0 0 20px 0;
}
.footerlinks li a {
	color: #fff;
	padding: 0px 30px;
	display: block;
}
.footerlinks li a:hover {
	color: #FC5002;
}
.socaillinks {
	text-align: center;
	margin: 20px 0;
}
.socaillinks img {
	margin: 0 4px;
}
@media only screen and (max-width: 663px) {
.keypoints {
	width: 100% !important;
}
}
@media only screen and (max-width: 527px) {
.footerlinks ul {
	border-bottom: 1px solid #222;
	border-left: 1px solid #222;
	float: left;
	width: 100%;
}
.footerlinks li {
	text-align: left;
	margin: 0px !important;
	width: 50%;
}
.footerlinks li a {
	border: 1px solid #222;
	border-bottom: none;
	border-left: none;
	display: block;
	padding: 10px!important;
	margin: 0px !important;
}
}
.smallheaderimg {
	background: url(../images/20.jpg) no-repeat center top #222222;
/*	background-size: 100%;*/
	min-height: 200px;
	color: #fff;
	text-align: center;
	position: relative;
}
.smallheaderimg h1 {
	margin: 60px 0 0 0;
}
.forms .form-control {
	margin: 0 0 10px 0;
}
.innerpages {
	padding: 10px;
	background: #fff;
}
.checkboxes-radios {
	margin: 0 0 10px 0;
}
.checkboxes-radios label {
	margin: 0 10px 8px 0;
	display: block;
}
.checkboxes-radios span {
	margin: 0 10px 10px 0;
}
.deliverytime .form-control {
	float: left;
	width: auto !important;
}
.loginfrom {
	margin: auto;
	width: 460px;
}
.insidetabs {
	background: #F2F7FA;
	border-bottom: 1px solid #d9dee1;
}
.adminnavigation li {
	float: left;
}
.adminnavigation li a {
	display: block;
	padding: 20px;
	color: #526066;
}
.adminnavigation li a i {
	text-align: center;
	display: block;
	font-size: 30px;
	margin: 0 10px 10px 10px;
}
.adminnavigation li a:hover {
	color: #FC5002;
}
.selctedtab {
	border-bottom: 2px solid #FC5002;
}
.gridview td, .gridview th  {
	border:1px solid #F2F7FA;
}
.gridview th {
	border-bottom:none !important;	
	border-color:#F2F7FA !important;
	border:1px solid #F2F7FA !important;
	background:#EDEDEB;
}
@media only screen and (max-width: 459px) {
	.loginfrom {
		width:100%;	
	}
}
.profilepage {
	box-shadow:0 -100px 250px rgba(0, 0, 0, 0.7) inset;		
	background:url(../images/100305OBP_Forresta.jpg) no-repeat bottom;
	min-height:550px;
	color:#fff;
	position:relative;
}
.restaurantinfo {
	position:absolute;
	bottom:20px;
	left:20px;
	right:20px;
}
.restaurantinfo h2{
	font-weight:bold;
}
.restaurantinfo p {
	font-size:15px;
}
.restaurantinfo p strong {
	color:#FC5002;
}	
.emailaddress a {
	text-decoration:underline;
	color:#FFF;	
}
.edit-profile input {
	border:1px solid #FFF;
	border-radius:5px;
	background:none;
	padding:10px 20px;
}
.edit-profile input:hover {
	border:1px solid #FC5002;
}
.tablesearching {
	margin:0 0 10px 0;	
}
.tablesearching select {
	width:100% !important;
}
.gridview {
    float: left;
    margin-top: 25px;
    width: 100%;
}
.page-title {
    width: auto; float: left; margin: 0px; padding: 0px;
}
