﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#dashboard1").addClass("leftmenuactive");
    });
</script>
    @Html.Partial("loginmenus")
    <div class="right-db">
        <div class="full">
            <h1>@BeeKeepersBusiness.Resource.Dashboard</h1>
        </div>
        <div class="full">
            @if (BeekeepersWeb.UserSession.UserRole == "2")
            {
                if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value == "fr")
                {
                    <a href="@Url.Action("Index", "Property")">
                    <img src="images/my-property.png" alt="" /></a> 
                }
                else
                { 
                    <a href="@Url.Action("Index", "Property")">
                    <img src="images/my-property_en.png" alt="" /></a> 
                }
                
            }
            <a href="@Url.Action("index", "useractivity")">
               @if (BeekeepersWeb.UserSession.UserRole == "1")
               {
                    if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value == "fr")
                    {
                       <img src="images/my-activity_bee.png" alt="" />
                    }
                    else
                    {
                       <img src="images/my-activity_bee_en.png" alt="" />
                    }
               }
               else
               {
                   if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value == "fr")
                   {
                        <img src="images/my-activity.png" alt="" />
                   }
                   else
                   {
                       <img src="images/my-activity_en.png" alt="" />
                   }
               }
            </a>
            @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value == "fr")
            {
                <a href="@Url.Action("Index", "Nearby")"><img src="images/nearby.png" alt="" /></a>
            }
            else
            {
                <a href="@Url.Action("Index", "Nearby")"><img src="images/nearby_en.png" alt="" /></a>
            }
            @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value == "fr")
            {
                <a href="@Url.Action("Index", "UserMessage")"><img src="images/my-messages.png" alt="" /></a>
            }
            else
            {
                <a href="@Url.Action("Index", "UserMessage")"><img src="images/my-messages_en.png" alt="" /></a>
            }

        </div>
    </div>


@*<div class="right_col02">
    <h2 class="heading">Dashboard</h2>
    <div class="clear"></div>
    <div class="dashboard_main">

        @if (BeekeepersWeb.UserSession.UserRole == "2")
        {
            <div class="dashboard_sub">
                <a href="@Url.Action("Index", "Property")">
                    <img src="~/Images/myproperty.png" /></a>
            </div>
        }
        <div class="dashboard_sub">
            <a href="@Url.Action("index", "useractivity")">
                <img src="~/Images/myactivity.png" /></a>
        </div>
        <div class="dashboard_sub">
            <a href="@Url.Action("Index", "Nearby")">
                <img src="~/Images/nearby.png" /></a>
        </div>
        <div class="dashboard_sub">
            <a href="@Url.Action("Index", "UserMessage")">
                <img src="~/Images/mymessages.png" /></a>
        </div>
    </div>
</div>*@
