﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    p {
        color: #4d4d4d;
        font-size: 13px;
        margin: 13px;
        text-align: left;
        width:660px;
    }
</style>
<div class="right-db_nonlogin">
    <div class="full">
        <h1>@BeeKeepersBusiness.Resource.Aboutus</h1>
    </div>
    
    
         <div class="commonpages">
            @Html.Raw((string)@ViewBag.pagetext)
         </div>


</div>
