﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bannersec">
    <div class="content-col1">
        @BeeKeepersBusiness.Resource.FARMERS
                <br />
        <span class="shade2"><a href="@Url.Action("farmers", "page")">@BeeKeepersBusiness.Resource.Clickheretogetmoredetails</a> &nbsp;<a href="#"><img src="~/images/arrow.png" alt="" class="md-align" /></a></span>
    </div>
    <div class="content-col2">
        @BeeKeepersBusiness.Resource.CONTRACTORS
                    <br />
        <span class="shade2"><a href="@Url.Action("contractors", "page")">@BeeKeepersBusiness.Resource.Clickheretogetmoredetails</a> &nbsp;<a href="#"><img src="~/images/arrow.png" alt="" class="md-align" /></a></span>
    </div>
    <div class="content-col3">
       @BeeKeepersBusiness.Resource.BEEKEEPERS
                    <br />
        <span class="shade2"><a href="@Url.Action("beekeepers", "page")">@BeeKeepersBusiness.Resource.Clickheretogetmoredetails</a> &nbsp;<a href="#"><img src="~/images/arrow.png" alt="" class="md-align" /></a></span>
    </div>
</div>
