﻿@model BeekeepersWeb.Areas.Manager.Models.AdminMessageModel

@{
    ViewBag.Title =@BeeKeepersBusiness.Resource.Message;
    Layout = "~/Areas/Manager/Views/Shared/_LayoutPage1.cshtml";
}
<style type="text/css">
     .field-validation-error {
        color: #ff0000;
    }
    .field-validation-error {
        width:100%;
        float:left;

    }
</style>
<link href="~/resources/css/bootstrap.min.css" rel="stylesheet" />
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
     @Html.ValidationSummary(true);
        <div class="container innerpages">
          <div class="signupform">
            <div class="col-sm-6" style="width:90%">
              <h2> @BeeKeepersBusiness.Resource.BroadcastMessage </h2>
                <div id="message">
                    @if (@ViewBag.status != null && @ViewBag.status == "1")
                    {
                        <div class="alert alert-success" role="alert">@ViewBag.message</div> 
                        <script type="text/javascript">
                            window.setTimeout(function () { HideMessage(); }, 2000);
                        </script>
                    }
                    else if (@ViewBag.status != null && @ViewBag.status == "0")
                    { 
                        <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
                        <script type="text/javascript">
                            window.setTimeout(function () { HideMessage(); }, 2000);
                        </script>
                    }
                </div>
               @Html.ValidationMessageFor(model => model.Usertype)<br />
                 @Html.ValidationMessageFor(model => model.Message)<br />
                @Html.ValidationMessageFor(model => model.MessageFR)
              <div class="forms">
                @Html.DropDownListFor(Model=>Model.Usertype, new List<SelectListItem>
                {
                new SelectListItem{Text=@BeeKeepersBusiness.Resource.SelectAll,Value="0"},
                new SelectListItem{Text=@BeeKeepersBusiness.Resource.BEEKEEPERS,Value="1"},
                 new SelectListItem{Text=@BeeKeepersBusiness.Resource.FARMERS,Value="2"},
                new SelectListItem{Text=@BeeKeepersBusiness.Resource.CONTRACTORS,Value="3"},
                },@BeeKeepersBusiness.Resource.Selectpage, new { @class = "form-control",@style="width:300px;" })
                @BeeKeepersBusiness.Resource.Messageinenglish<br />
                @Html.TextAreaFor(Model=>Model.Message,new { @class="form-control"} )
                @BeeKeepersBusiness.Resource.Messageinfrench<br />
                  @Html.TextAreaFor(Model=>Model.MessageFR,new { @class="form-control"} )
              </div>
                <div style="float:right;width:100%;margin-top:10px;">
                    <input type="submit" value="@BeeKeepersBusiness.Resource.SendMessage" class="buttons pull-right">
                </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

