﻿@model BeekeepersWeb.Models.EditProfileModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    
    $(document).ready(function () {
        $("#editprofile").addClass("leftmenuactive");
    });
    //function ResetForm() {
    //    $("#firstname").val("");
    //    $("#lastname").val("");
      
    //    $("#Pasword").val("");
    //    $("#ConfirmPasword").val("");
    //    $("#Email").val("");

    //}
</script>
<style type="text/css">
    .form_left {
        float: left;
        margin: 0px 5px 5px 145px;
        width: 60%;
    }
</style>
@Html.Partial("loginmenus")
@using (Html.BeginForm())
{
    

    <div class="right-db">
        <div class="full">
            <h1><i>
                <img src="~/images/member_login.png"></i>@BeeKeepersBusiness.Resource.UpdateProfile
            </h1>
        </div>
        @Html.Partial("ValidationSummary", ViewData.ModelState)
        <div id="message">

            @if (@ViewBag.status != null && @ViewBag.status == "1")
            {
                <div class="alert alert-success" role="alert">@ViewBag.message</div> 
                <script type="text/javascript">
                    window.setTimeout(function () { HideMessage(); }, 2000);
                </script>
            }
            else if (@ViewBag.status != null && @ViewBag.status == "0")
            { 
                <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
                <script type="text/javascript">
                    window.setTimeout(function () { HideMessage(); }, 2000);
                </script>
            }
        </div>
        <div class="clear"></div>
        <div class="Register_bg">

            <div class="form_left">
                @Html.TextBoxFor(model => model.firstname, new { @placeholder = @BeeKeepersBusiness.Resource.Firstnamewillbekeptprivate, maxlength = 100, autocomplete = "off" })
            </div>
            <div class="form_left">
                @Html.TextBoxFor(model => model.lastname, new { @placeholder = @BeeKeepersBusiness.Resource.Lastnamewillbekeptprivate, maxlength = 100, autocomplete = "off" })

            </div>
            <div class="form_left">
                @Html.TextBoxFor(model => model.UserName, new { @readonly = "true", maxlength = 100, autocomplete = "off" })
            </div>
            <div class="form_left">
                @Html.TextBoxFor(model => model.Email, new { @placeholder = @BeeKeepersBusiness.Resource.Emailwillbekeptprivate, maxlength = 100, autocomplete = "off" })
            </div>
            <div class="clear"></div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @BeeKeepersBusiness.Resource.Iama
            <center>
             <div style="margin-left:-50px;"> 
                <table width="50%">
                    <tr>
                        <td align="center">  <img src="~/Images/farmer.png" alt="@BeeKeepersBusiness.Resource.Farmer" title="@BeeKeepersBusiness.Resource.Farmer"  /></td>
                        <td align="center"><img src="~/Images/tractor.png" alt="@BeeKeepersBusiness.Resource.Contractor" title="@BeeKeepersBusiness.Resource.Contractor" /></td>
                        <td align="center">  <img src="~/Images/bee.png" alt="@BeeKeepersBusiness.Resource.Beekeeper" title="@BeeKeepersBusiness.Resource.Beekeeper" /></td>
                    </tr>
                      <tr>
                        <td align="center"> @Html.RadioButtonFor(Model => Model.usertype, 2, new { @id = "usertype2", @disabled = "disabled" })</td>
                        <td align="center"> @Html.RadioButtonFor(Model => Model.usertype, 3, new { @id = "usertype3", @disabled = "disabled" })</td>
                        <td align="center"> @Html.RadioButtonFor(Model => Model.usertype, 1, new { @id = "usertype1", @disabled = "disabled" })</td>
                    </tr>
                </table>
              </div>
            </center>
        </div>
        <div class="Register_bottom">
            @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value=="fr")
            {
                <input type="image" src="~/Images/submit_BTN.png" />
                <a href="@Url.Action("index","dashboard")"><img style="cursor: pointer;" src="~/images/cancel_btn.png"></a>
            }
            else
            {
                <input type="image" src="~/Images/submit_BTN_en.png" />
                <a href="@Url.Action("index","dashboard")"><img style="cursor: pointer;" src="~/images/cancel_btn_en.png"></a>
            }
            
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}