﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .anchor_view {
    color: #0b4b00;
    padding: 3px;
    text-decoration: none;
    }
    .anchor_view:hover {
        background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    color: #0b4b00;
    padding: 3px;
    text-decoration: none;
    }
    .current_active {
        background: url('@(System.Configuration.ConfigurationManager.AppSettings["siteurl"].ToString())/images/current_check_@(Request.Cookies.Get("culture").Value).png') repeat scroll 0 0 rgba(0, 0, 0, 0);
        float: left;
        height: 56px;
        width: 51px;
        margin-left: 125px;
    }
    .current {
        background: url('@(System.Configuration.ConfigurationManager.AppSettings["siteurl"].ToString())/Images/current_uncheck_@(Request.Cookies.Get("culture").Value).png') repeat scroll 0 0 rgba(0, 0, 0, 0);
        float: left;
        height: 56px;
        width: 51px;
        margin-left: 125px;
    }

    .past {
        background: url('@(System.Configuration.ConfigurationManager.AppSettings["siteurl"].ToString())/Images/past_uncheck_@(Request.Cookies.Get("culture").Value).png');
        float: left;
        height: 56px;
        width: 51px;
        margin-left: 125px;
    }
    .past_active {
        background: url('@(System.Configuration.ConfigurationManager.AppSettings["siteurl"].ToString())/Images/past_check_@(Request.Cookies.Get("culture").Value).png');
        float: left;
        height: 56px;
        width: 51px;
        margin-left: 125px;
    }
    .future_active {
        background: url('@(System.Configuration.ConfigurationManager.AppSettings["siteurl"].ToString())/Images/future_check_@(Request.Cookies.Get("culture").Value).png');
        float: left;
        height: 56px;
        width: 51px;
        margin-left: 125px;
    }
    .future {
        background: url('@(System.Configuration.ConfigurationManager.AppSettings["siteurl"].ToString())/Images/future_uncheck_@(Request.Cookies.Get("culture").Value).png');
        float: left;
        height: 56px;
        width: 51px;
        margin-left: 125px;
    }
</style>
<script type="text/javascript">
    function ShowBroadcast() {
        $("#div_broadcast").slideDown(500);
    }
    function HideBroadcast() {
        document.getElementById("txtmessage").value = "";
        $("#div_broadcast").slideUp(500);
    }
    function messagevalidation() {
        if (document.getElementById("txtmessage").value == "") {
            alert("@BeeKeepersBusiness.Resource.Pleaseentermessage");
                    return false;
                }
                else {
                    return true;
                }
            }
</script>
@Html.Partial("loginmenus")
<div class="right-db">
    <div class="full">
        <h1>User Profile</h1>
    </div>
    <div style="float: left; padding: 10px; text-align: justify">
        <div style="float: left; margin-bottom: 15px; background: none repeat scroll 0% 0% rgb(217, 234, 210); padding: 9px; width: 660px;">
            <div style="float: left; width: 100px;">
                @if (@ViewBag.userrole == 1)
                {
                    <img src="~/Images/bee.png" /> 
                }
                else if (@ViewBag.userrole == 1)
                {
                    <img src="~/Images/farmer.png" />
                }
                else
                {
                    <img src="~/Images/tractor.png" />
                }


                
            </div>
            <div style="float: left; text-align: center; width: 437px; font-weight: bold; color: rgb(11, 75, 0);">
                @ViewBag.username @BeeKeepersBusiness.Resource.Activities
            </div>
            <div style="float: right; width: 24px;">
                @*<a href="@Url.Action("index", "usermessage")">*@
                    <img src="~/Images/emailicon@2x.png" style="cursor: pointer;" title="@BeeKeepersBusiness.Resource.SendMessage" onclick="ShowBroadcast();" />@*</a>*@
            </div>
        </div>
        <div id="message">
            @if (@ViewBag.status != null && @ViewBag.status == "1")
            {
            
                <div class="alert alert-success" role="alert">@ViewBag.message</div> 
                <script type="text/javascript">
                    $(document).ready(function () {
                        document.getElementById("txtmessage").value = "";
                    });
                    window.setTimeout(function () { HideMessage(); }, 2000);
                </script>
            }
            else if (@ViewBag.status != null && @ViewBag.status == "0")
            { 
                <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
                <script type="text/javascript">
                    $(document).ready(function () {

                        $("#div_broadcast").slideDown(500);
                    });
                    window.setTimeout(function () { HideMessage(); }, 2000);
                </script>
            }
        </div>
        <div style=" background: none repeat scroll 0 0 rgb(255, 255, 255);border: 2px solid #0b4b00;float: left;height: 105px;position: absolute;top: auto;width: 675px;z-index: 10000;margin-top:45px; display: none;" id="div_broadcast">
                    @using (Html.BeginForm("SendMessage", "UserProfile", new { id = ViewBag.userid, actid = @ViewBag.activityid }, FormMethod.Post))
                    {
                        @Html.TextArea("txtmessage", new { @class = "broadcasttextarea1", @placeholder = @BeeKeepersBusiness.Resource.Message })
                        <div class="input_block">
                            
                            <div style="float: right; width: 84px;">
                                @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value=="fr")
                                {
                                    <img   style="height:28px;cursor:pointer;" src="~/Images/cancelbtn1.png" onclick="HideBroadcast();" />
                                }
                                else
                                {
                                    <img   style="height:28px;cursor:pointer;" src="~/Images/cancelbtn1_en.png" onclick="HideBroadcast();" />
                                }
                            </div>
                            <div style="float: right; width: 71px;">
                                @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value=="fr")
                                {
                                    <input type="image" src="~/Images/send_BTN.png" style="width: 65px; height: 28px; float: left" onclick="return messagevalidation();" />
                                }
                                else
                                {
                                    <input type="image" src="~/Images/send_BTN_en.png" style="width: 65px; height: 28px; float: left" onclick="return messagevalidation();" />
                                }

                            </div>
                        </div>
                    }

                </div>
        <div style="float: left; width: 680px;">
            <div style="float: left; text-align: center; width: 220px;">
                @Ajax.ActionLink(" ", "GetActivities", "userprofile", new { id = @ViewBag.userid, type = "current",actid=@ViewBag.activityid,@latitude=@ViewBag.latitude,@longitude=@ViewBag.longitude }, new AjaxOptions { UpdateTargetId = "div_activities" }, new { @class = "current_active", @id = "current" })
            </div>
            <div style="float: left; text-align: center; width: 220px;">
                @Ajax.ActionLink(" ", "GetActivities", "userprofile", new { id = @ViewBag.userid, type = "future",actid=@ViewBag.activityid,@latitude=@ViewBag.latitude,@longitude=@ViewBag.longitude }, new AjaxOptions { UpdateTargetId = "div_activities" }, new { @class = "future", @id = "future" })
            </div>
            <div style="float: left; text-align: center; width: 220px;">
                @Ajax.ActionLink(" ", "GetActivities", "userprofile", new { id = @ViewBag.userid, type = "past",actid=@ViewBag.activityid,@latitude=@ViewBag.latitude,@longitude=@ViewBag.longitude }, new AjaxOptions { UpdateTargetId = "div_activities" }, new { @class = "past", @id = "past" })
            </div>
        </div>
        <div style="float: left; width: 680px;">
            <div id="div_activities" style=" float: left;height: 477px !important;margin-top: 10px;overflow-y: auto;width: 699px;">
                @if (@ViewBag.activities != null && (@ViewBag.activities as ICollection<BeeKeepersDataBase.sp_Userprofileactivities_Result>).Count() > 0)
                {
                    foreach (var item in @ViewBag.activities)
                    {
                    <div style="float: left; border-bottom: 1px solid; padding: 10px; background: none repeat scroll 0% 0% rgb(219, 219, 219); width: 660px;">
                        <div style="float: left; height: 20px; width: 650px;">
                            <img src="~/Images/calendar_icon@2X.png" style="margin-right: 10px; float: left;" /><div style="float: left;font-size:13px;">@Convert.ToDateTime(@item.startdate).ToString("dd-MMM-yyyy",new System.Globalization.CultureInfo("en-US")) - @Convert.ToDateTime(@item.enddate).ToString("dd-MMM-yyyy",new System.Globalization.CultureInfo("en-US"))</div>
                            <div style="float: left; width: 250px; margin-left: 40px;">
                                <a class="anchor_view" href="@Url.Action("myactivitiesaround", "userprofile", new { @id = @item.id })">
                                <img src="~/Images/editgreen_icon.png" />
                                &nbsp;@BeeKeepersBusiness.Resource.Viewnearbyactivities</a></div>
                        </div>
                        <div style="float: left; padding: 10px; width: 650px;">
                            @item.note
                        </div>
                    </div>
                        
                    }
                }
                else
                {
                    <div style="float: left; padding: 10px; width: 650px;text-align:center;">@BeeKeepersBusiness.Resource.Activitiesnotexist</div>
                }

                
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $('#current').click(function () {
        $('#div_activities').html('<div style="margin: 100px auto; width: 150px; white-space: nowrap; height: 112px;text-align: center; z-index: 1000;"><table border="0" style="text-align: center;"><tr><td align="left"><img src="@System.Configuration.ConfigurationManager.AppSettings["siteurl"]/Images/loading.gif" /></td></tr></table></div>');
    });
    $('#future').click(function () {
        $('#div_activities').html('<div style="margin: 100px auto; width: 150px; white-space: nowrap; height: 112px;text-align: center; z-index: 1000;"><table border="0" style="text-align: center;"><tr><td align="left"><img src="@System.Configuration.ConfigurationManager.AppSettings["siteurl"]/Images/loading.gif" /></td></tr></table></div>');
    });
    $('#past').click(function () {
        $('#div_activities').html('<div style="margin: 100px auto; width: 150px; white-space: nowrap; height: 112px;text-align: center; z-index: 1000;"><table border="0" style="text-align: center;"><tr><td align="left"><img src="@System.Configuration.ConfigurationManager.AppSettings["siteurl"]/Images/loading.gif" /></td></tr></table></div>');
    });
</script>