﻿@model IEnumerable<BeeKeepersDataBase.sp_MyActivitiesAround_Result>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #map-canvas {
        width: 690px;
    }
    .input-block {
        width:96%;
        margin:10px;
    }
    .alert-danger {
        background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    float: left;
    margin-left: 20px;
    margin-top: 135px;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 728px;
    
    }
    .alert-success {
         background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    margin-left: 24px;
    margin-top: 128px;
    padding: 8px;
    position: absolute;
    text-align: center;
    width: 702px;
    z-index: 1000;
    }
</style>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js" integrity="sha256-FgiaQnQazF/QCrF9qSvpRY6PACn9ZF8VnlgqfqD1LsE=" crossorigin="anonymous"></script>

        <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAPAJCWKEzIL_kM-EBU9e-u0kMDffzoVwE&sensor=false&callback=initialize"></script>
        <script type="text/javascript">
            function initialize() {
                var center = new google.maps.LatLng(@ViewBag.latitude, @ViewBag.longitude);
        var marker;
        var txtLat;
        var txtlong;
        var bool = true;
        txtLat = @ViewBag.latitude;
        txtlong = @ViewBag.longitude;
        bool = false;

        var myLatlng = new google.maps.LatLng(txtLat, txtlong);
        @if (ViewBag.usertype==1)
        {
            @:image_me = "http://beeconnected.ca/images/pin_beekeeper.png";
        }
        else
        {
            @:image_me = "http://beeconnected.ca/images/pin_contractor.png";
        }
        
        
        var mapOptions = {
            zoom: bool ? 8 : 10,
            center: myLatlng,
            MapTypeId: google.maps.MapTypeId.TERRAIN

        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
        var circle = new google.maps.Circle({
            center: center,
            map: map,
            radius: 5000,          // IN METERS.
            fillColor: '#FF6600',
            fillOpacity: 0.3,
            strokeColor: "#FFF",
            strokeWeight: 0         // DON'T SHOW CIRCLE BORDER.
        });
        var bounds = new google.maps.LatLngBounds();
        var infowindow = new google.maps.InfoWindow();
        var latlng = new google.maps.LatLng(@ViewBag.latitude, @ViewBag.longitude);
        bounds.extend(latlng);
        marker=new google.maps.Marker({map: map,icon: image_me,position: new google.maps.LatLng(@ViewBag.latitude, @ViewBag.longitude)});
        
        

        @foreach (var item in Model)
        {
            if(item.usertype.ToString()=="1")
            {
                @:image = "http://beeconnected.ca/images/pin_beekeeper.png";    
            }
            else
            {
                @:image = "http://beeconnected.ca/images/pin_contractor.png";
            }
            
            
            @:var latlng = new google.maps.LatLng(@item.latitude, @item.longitude);
            @:bounds.extend(latlng);
            @:var marker = new google.maps.Marker({map: map,icon: image,position: new google.maps.LatLng(@item.latitude, @item.longitude)});
        }
    }
    
        </script>
@Html.Partial("loginmenus")
<div class="right-db">
 <div class="full">
    <h1> My activities nearby</h1>
        </div>
    
    <div class="full" >

        <div style="float: left; width: 100%;">
            <div style="float: left;padding: 0 10px 10px;width: 95%;">
                <div style="float: left; width: 86%;">
                    <img src="~/Images/calendar_icon@2X.png" style="margin-right:10px;float:left;" /><div style="float:left;">@BeeKeepersBusiness.Resource.Startdate: @ViewBag.startdate </div>&nbsp;&nbsp; <img src="~/Images/calendar_icon@2X.png" style="margin-right:10px;float:left;margin-left:30px;" /><div style="float:left;">@BeeKeepersBusiness.Resource.Enddate: @ViewBag.enddate</div>
                </div>
            </div>
            <div style="float: left; width: 100%;">
                <div id="map-canvas"></div>
            </div>
        </div>
    


        </div>

</div>
<div id="message">
        @if (@ViewBag.status != null && @ViewBag.status == "1")
        {
            
            <div class="alert alert-success" role="alert">@ViewBag.message</div> 
            <script type="text/javascript">
                $(document).ready(function() {
                    document.getElementById("txtmessage").innerText="";
                });
                window.setTimeout(function () { HideMessage(); }, 2000);
            </script>
        }
        else if (@ViewBag.status != null && @ViewBag.status == "0")
        { 
            <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
            <script type="text/javascript">
                $(document).ready(function() {
                   
                    $("#div_broadcast").slideDown(500);
                });
                window.setTimeout(function () { HideMessage(); }, 2000);
            </script>
        }
    </div>