﻿@model IEnumerable<BeeKeepersDataBase.sp_Userprofileactivities_Result>
<script type="text/javascript">
    @if (ViewBag.type == "current")
    { 
        @:document.getElementById("current").className = "current_active";
        @:document.getElementById("past").className= "past";
        @:document.getElementById("future").className = "future";
    }
    else if (ViewBag.type == "past")
    {
        @:document.getElementById("current").className = "current";
        @:document.getElementById("past").className = "past_active";
        @:document.getElementById("future").className = "future";
    }
    else
    {
        @:document.getElementById("current").className = "current";
        @:document.getElementById("past").className = "past";
        @:document.getElementById("future").className = "future_active";
        
    }
</script>
@if (Model != null && Model.Count()>0)
{
    foreach (var item in Model)
    {
        <div style="float: left; border-bottom: 1px solid; padding: 10px; background: none repeat scroll 0% 0% rgb(219, 219, 219); width: 660px;">
            <div style="float: left; height: 20px; width: 650px;">
                <img src="~/Images/calendar_icon@2X.png" style="margin-right:10px;float:left;" /><div style="float:left;font-size:13px;">@Convert.ToDateTime(@item.startdate).ToString("dd-MMM-yyyy",new System.Globalization.CultureInfo("en-US")) - @Convert.ToDateTime(@item.enddate).ToString("dd-MMM-yyyy",new System.Globalization.CultureInfo("en-US"))</div>
                <div style="float:left;width:200px;margin-left:40px;">
                    <a href="@Url.Action("myactivitiesaround", "userprofile", new { @id = @item.id })" style="font-size:13px;text-decoration:none;color:#000;"><img src="~/Images/editgreen_icon.png" /> 
                        &nbsp;@BeeKeepersBusiness.Resource.Viewnearbyactivities</a></div>
            </div>
            <div style="float: left; padding: 10px; width: 650px;">
                @item.note
            </div>
        </div>
                        
    }
}
else
{
    <div style="float: left; padding: 10px; width: 650px;text-align:center;">@BeeKeepersBusiness.Resource.Activitiesnotexist</div>
}
