﻿@model BeekeepersWeb.Areas.Manager.Models.ClassLogin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Areas/Manager/css/login.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    
    <div class="lg-container">
		    <h1>@BeeKeepersBusiness.Resource.Admin</h1>
    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { id = "lg-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        
		    
			
			    <div>
				    <label for="username">@Html.LabelFor(model => model.userName) :</label>
				    @Html.TextBoxFor(model => model.userName, new { @placeholder = @BeeKeepersBusiness.Resource.UserName, autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.userName)
			    </div>
			
			    <div>
				    <label for="password"> @Html.LabelFor(model => model.password):</label>
                    @Html.PasswordFor(model => model.password, new { @placeholder = @BeeKeepersBusiness.Resource.Password })
                    @Html.ValidationMessageFor(model => model.password)
			    </div>
			
			    <div>				
				    <button type="submit" id="login">@BeeKeepersBusiness.Resource.Login</button>
			    </div>
			
                if (@ViewBag.messsage != null)
                { 
                        <div id="message">
                            @ViewBag.messsage 
		                </div>
                }


    }

    </div>
    <div>
    </div>
</body>
</html>
