﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>BeeConnected</title>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @*<script type="text/javascript">
        window.location = "index.html";
    </script>*@


    <style type="text/css">
           a {
            outline:0 !important;
        }
       
        .alert-danger {
            background-color: #f2dede;
            border-color: #ebccd1;
            color: #a94442;
            float: left;
            margin-left: 20px;
            margin-top: 10px;
            padding: 10px;
            width: 91%;
        }

        .field-validation-valid {
            padding: 10px;
        }

        .loginmenu1 {
            font-size: 13px;
            font-weight: bold;
            float: left;
            height: 25px;
            width: 143px;
            padding: 5px;
            background: #DDE6C3;
            color: #18723D;
        }

        .loginmenu2 {
            font-size: 13px;
            font-weight: bold;
            float: left;
            height: 25px;
            width: 143px;
            padding: 5px;
            background: #F4F2D1;
            color: #18723D;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js" integrity="sha256-FgiaQnQazF/QCrF9qSvpRY6PACn9ZF8VnlgqfqD1LsE=" crossorigin="anonymous"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/style.css" rel="stylesheet" />
    <script type="text/javascript">
        function HideMessage() {
            window.setTimeout(function () { $('#message').fadeOut(1000); }, 2000);
        }

        // https://weblog.west-wind.com/posts/2014/Mar/27/Auto-Selecting-Cultures-for-Localization-in-ASPNET
        // System culture curently set to: @System.Threading.Thread.CurrentThread.CurrentUICulture.ToString();
        @if (Request.Cookies.Get("culture") == null)
        {
            @Html.Raw("// Request culture curently null");
            if (HttpContext.Current != null && HttpContext.Current.Request.UserLanguages != null)
            {
                if (Request.UserLanguages.Length > 0) {
                    if(Request.UserLanguages[0].ToLower().StartsWith("fr")) {
                        if (System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() != "fr") {
                            @Html.Raw("\ndocument.location = '/Home/ChangeLanguage?lang=fr';\n");
                        }
                    }
                }
            }
        } else {
            @Html.Raw("// Request culture curently set to: ")
            @Request.Cookies.Get("culture").Value
        }


    </script>
    <script src="~/Scripts/nicescroll.js"></script>
</head>
<body>
    <div id="main-wrapper">
        <div id="wrapper">
            <div id="header">
                <div class="logo">
                    <a href="@Url.Action("Index", "Home")" title="BeeConnected">
                        <img style="width:193px; height:auto;" src="~/images/beeconnected_logo.png" alt="BeeConnected" style="border:none;" />
                    </a>
                </div>
                <div>

                <ul class="nav">
                    <li><a href="@Url.Action("index", "Home")" id="Home" title="@BeeKeepersBusiness.Resource.Home">@BeeKeepersBusiness.Resource.Home</a></li>
                    <li><a href="@Url.Action("aboutus", "page")" id="aboutus" title="@BeeKeepersBusiness.Resource.Aboutus">@BeeKeepersBusiness.Resource.Aboutus</a></li>
                    <li><a href="@Url.Action("resource", "page")" id="resource" title="@BeeKeepersBusiness.Resource.Resources">@BeeKeepersBusiness.Resource.Resources</a></li>
                    <li><a href="@Url.Action("index", "Contactus")" id="Contactus" title="@BeeKeepersBusiness.Resource.Contactus"><span>@BeeKeepersBusiness.Resource.Contactus</span></a></li>
                    @if (BeekeepersWeb.UserSession.UserId != null && BeekeepersWeb.UserSession.UserId.ToString() != "0")
                    { 
                        <li><a href="@Url.Action("index", "dashboard")" id="dashboard" title="@BeeKeepersBusiness.Resource.Dashboard">@BeeKeepersBusiness.Resource.Dashboard</a></li>
                    }
                    @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value == "fr")
                    {
                        <li><a href="@Url.Action("ChangeLanguage", "Home", new { lang = "en" })" title="Click to view English website">English</a></li>
                    }
                    else 
                    {
                        <li><a href="@Url.Action("ChangeLanguage", "Home", new { lang = "fr" })" title="Click to view Francais website">Francais</a></li>
                    }
                </ul>
                
                </div>

            </div>
            <div id="container">

                <div class="left-sec">

                    <div class="full">

                        <div class="registersec shade1">
                            <div style="float: left; margin-right: 10px; margin-top: 5px;">
                                <img src="~/Images/login_icon.png" />
                            </div>
                            <div style="float: left;">
                                @if (Session["userid"] != null && Session["UserName"] != null && Session["userid"].ToString() != "")
                                {
                                    @Session["UserName"].ToString() <a href="@Url.Action("logout", "userlogin")" title="@BeeKeepersBusiness.Resource.Logout" style="margin-left: 11px; font-weight: bold;">@BeeKeepersBusiness.Resource.Logout</a>
                                }
                                else
                                {
                                    <a href="@Url.Action("login", "userlogin")" title="@BeeKeepersBusiness.Resource.Login">@BeeKeepersBusiness.Resource.Login</a> <span>&#47;</span> <a href="@Url.Action("create", "registration")" title="@BeeKeepersBusiness.Resource.Register">@BeeKeepersBusiness.Resource.Register</a>                                                                      
                                }
                            </div>

                        </div>
                    </div>

                    <div class="full">

                        @RenderBody()
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="main-footer">
            <div class="upper-footer">
                <div class="left-footer">
                    @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value == "fr")
                    {
                        <a href="http://www.croplife.ca/fr" target="_blank">
                            <img style="width:250px; height:auto;" src="~/images/footer-logo.png" alt="BeeConnected" />
                        </a>
                    }
                    else
                    {
                        <a href="http://www.croplife.ca" target="_blank">
                            <img style="width:250px; height:auto;" src="~/images/footer-logo.png" alt="BeeConnected" />
                        </a>
                    }
                </div>
                <div class="mid-footer">
                    <h6>@BeeKeepersBusiness.Resource.OfficialPartner</h6>
                    <a href="http://www.honeycouncil.ca/" target="_blank">
                        @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value == "fr")
                        {
                            <img src="~/images/CanadianHoneyCouncil-logo_FR.png" style="margin-left: 45px; height: 134px; margin-top: -19px;">
                        }
                        else
                        {
                            <img src="~/images/CanadianHoneyCouncil-logo_EN.png" style="margin-left: 45px; height: 134px; margin-top: -19px;">
                        }
                    </a>
                </div>
                <div class="right-footer">
                    <div class="full">
                        <h6>@BeeKeepersBusiness.Resource.ReachUs</h6>
                    </div>
                    <div class="full shade1">
                        <div class="full">
                            @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value == "fr")
                            {
                                <span>
                                350, rue Sparks, bur. 202 <br>
                                Ottawa, ON<br>
                                K1R 7S8<br>
                                Canada<br />
                                </span>
                            }
                            else
                            {
                                <span>
                                350 Sparks St. Suite 202 <br>
                                Ottawa, ON<br>
                                K1R 7S8<br>
                                Canada<br />
                                </span>
                            }
                            <img src="~/images/icon-phone.png" alt="" class="md-align" />
                            &nbsp;613-230-9881<br />
                            <img src="~/images/email-icon.png" alt="" class="md-align" style="height: 15px; width: 15px;" />
                            &nbsp;<a href="mailto:info@beeconnected.ca">info@beeconnected.ca</a>
                        </div>
                    </div>
                    <div class="full">
                    </div>
                </div>
            </div>
            <div class="lower-footer shade1">
                <div class="footer-lt">Copyright © @DateTime.Now.Year.ToString() Croplife Canada. @BeeKeepersBusiness.Resource.Allrightsreserved</div>
                <div class="footer-rt"><a href="@Url.Action("privacy", "page")" title="@BeeKeepersBusiness.Resource.PrivacyPolicy">@BeeKeepersBusiness.Resource.PrivacyPolicy</a> &nbsp;|&nbsp; <a href="@Url.Action("terms", "page")" title="@BeeKeepersBusiness.Resource.TermsConditions">@BeeKeepersBusiness.Resource.TermsConditions</a></div>
            </div>
        </div>
        <input type="hidden" id="menuid" />
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-75405003-2', 'auto');
ga('send', 'pageview');
</script>

</body>
</html>


<script type="text/javascript">
    $(document).ready(function () {
        $('.divscroll').niceScroll({});

        var str = window.location.href;

        $("#Home").removeAttr("style");
        $("#resource").removeAttr("style");
        $("#aboutus").removeAttr("style");
        $("#Contactus").removeAttr("style");
        $("#dashboard").removeAttr("style");

        if (str.indexOf("aboutus") >= 0) {
            $("#aboutus").addClass("active");
        }
        else if (str.indexOf("resource") >= 0) {
            $("#resource").addClass("active");

        }
        else if (str.indexOf("Contactus") >= 0) {
            $("#Contactus").addClass("active");
        }
        else if (str.indexOf("Dashboard") >= 0) {
            $("#dashboard").addClass("active");
        }
        else if (str == "http://beeconnected.ca" || str == "http://beeconnected.ca/home/" || str == "http://beeconnected.ca/home/index/") {
            $("#Home").addClass("active");
        }
    });

</script>