﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erreur";
}
<div class="right_col02">
    <h2 class="heading">@BeeKeepersBusiness.Resource.ContactAdmin</h2>
    <div class="clear"></div>
    <div style="float: left; padding: 10px; text-align: justify">
        <h2 class="error">@BeeKeepersBusiness.Resource.Sorrysomeerroroccuredwhileprocessingyourrequest</h2>
    </div>

</div>
