﻿@if (BeekeepersWeb.UserSession.UserId != null && BeekeepersWeb.UserSession.UserId.ToString() != "0")
{ 
    <div class="left-menu">
    <ul class="lt-nav">
        @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value == "fr")
        {
            <li><a id="dashboard1" href="@Url.Action("index", "Dashboard")" class="first"><img src="~/images/icon-dashboard.png" @*alt="Dashboard"*@ class="md-align" />&nbsp;&nbsp;Tableau de bord</a></li>
            <li><a id="editprofile" href="@Url.Action("Edit", "UserProfile")"><img src="~/images/icon-edit-profile.png" @*alt="Edit Profile"*@ class="md-align" />&nbsp;&nbsp;Modifier le profil</a></li>
            if (BeekeepersWeb.UserSession.UserRole != null && BeekeepersWeb.UserSession.UserRole.ToString() == "2")
            {
                <li><a id="property" href="@Url.Action("index", "Property")"><img src="~/images/icon-property.png" @*alt="My Property"*@ class="md-align" />&nbsp;&nbsp;Ma propriété</a></li>
            }
            if (BeekeepersWeb.UserSession.UserRole != null && BeekeepersWeb.UserSession.UserRole.ToString() == "1")
            {
                <li><a id="myactivities" href="@Url.Action("index", "UserActivity")"><img src="~/images/bee.png" @*alt="My Activities"*@ class="md-align" />&nbsp;&nbsp;Mes activités</a></li>
            }
            else
            { 
                <li><a id="myactivities" href="@Url.Action("index", "UserActivity")"><img src="~/images/icon-my-activities.png" @*alt="My Activities"*@ class="md-align" />&nbsp;&nbsp;Mes activités</a></li>
            }
            <li><a id="nearby" href="@Url.Action("index", "Nearby")"><img src="~/images/icon-nearby.png" @*alt="Nearby"*@ class="md-align" />&nbsp;&nbsp;À proximité</a></li>
            <li><a id="messages" href="@Url.Action("index", "UserMessage")"><img src="~/images/icon-messages.png" @*alt="Messages"*@ class="md-align" />&nbsp;&nbsp;Mes messages</a></li>
            <li><a id="createactivity" href="@Url.Action("Create", "UserActivity")"><img src="~/images/icon-dashboard.png" @*alt="Add New Activity"*@ class="md-align" />&nbsp;&nbsp;Ajouter une nouvelle activité</a></li>
            <li><a id="changepassword" href="@Url.Action("ChangePassword", "UserLogin")" class="last"><img src="~/images/icon-edit-profile.png" @*alt="Edit Profile"*@ class="md-align" />&nbsp;&nbsp;Changer mot de passe</a></li>
        }
        else
        {
            <li><a id="dashboard1" href="@Url.Action("index", "Dashboard")" class="first"><img src="~/images/icon-dashboard.png" @*alt="Dashboard"*@ class="md-align" />&nbsp;&nbsp;@BeeKeepersBusiness.Resource.Dashboard</a></li>
            <li><a id="editprofile" href="@Url.Action("Edit", "UserProfile")"><img src="~/images/icon-edit-profile.png" @*alt="Edit Profile"*@ class="md-align" />&nbsp;&nbsp;@BeeKeepersBusiness.Resource.EditProfile</a></li>
            if (BeekeepersWeb.UserSession.UserRole != null && BeekeepersWeb.UserSession.UserRole.ToString() == "2")
            {
                <li><a id="property" href="@Url.Action("index", "Property")"><img src="~/images/icon-property.png" @*alt="My Property"*@ class="md-align" />&nbsp;&nbsp;@BeeKeepersBusiness.Resource.MyProperty</a></li>
            }
            if (BeekeepersWeb.UserSession.UserRole != null && BeekeepersWeb.UserSession.UserRole.ToString() == "1")
            {
                <li><a id="myactivities" href="@Url.Action("index", "UserActivity")"><img src="~/images/bee.png" @*alt="My Activities"*@ class="md-align" />&nbsp;&nbsp;@BeeKeepersBusiness.Resource.MyActivities</a></li>
            }
            else
            { 
                <li><a id="myactivities" href="@Url.Action("index", "UserActivity")"><img src="~/images/icon-my-activities.png" @*alt="My Activities"*@ class="md-align" />&nbsp;&nbsp;@BeeKeepersBusiness.Resource.MyActivities</a></li>
            }
            <li><a id="nearby" href="@Url.Action("index", "Nearby")"><img src="~/images/icon-nearby.png" @*alt="Nearby"*@ class="md-align" />&nbsp;&nbsp;@BeeKeepersBusiness.Resource.Nearby</a></li>
            <li><a id="messages" href="@Url.Action("index", "UserMessage")"><img src="~/images/icon-messages.png" @*alt="Messages"*@ class="md-align" />&nbsp;&nbsp;@BeeKeepersBusiness.Resource.Messages</a></li>
            <li><a id="createactivity" href="@Url.Action("Create", "UserActivity")"><img src="~/images/icon-dashboard.png" @*alt="Add New Activity"*@ class="md-align" />&nbsp;&nbsp;@BeeKeepersBusiness.Resource.AddNewActivity</a></li>
            <li><a id="changepassword" href="@Url.Action("ChangePassword", "UserLogin")" class="last"><img src="~/images/icon-edit-profile.png" @*alt="Edit Profile"*@ class="md-align" />&nbsp;&nbsp;@BeeKeepersBusiness.Resource.ChangePassword
</a></li>
        }
    </ul>
</div>
}