﻿@model ModelStateDictionary
<script type="text/javascript">
    function hideValidationMessage()
    {
        $("#div_validationmessage").removeClass("validation-summary-errors");
        $("#div_validationmessage").addClass("validation-summary-valid");
    }
</script>
<div style="float:left;width:400px;position:absolute;margin-left:175px;z-index:1000;" class="@(Html.ViewData.ModelState.IsValid ? "validation-summary-valid" : "validation-summary-errors") panel panel-danger"
     data-valmsg-summary="true" id="div_validationmessage">
    <div class="panel-heading">
       @BeeKeepersBusiness.Resource.Pleasecorrectthefollowingerrors
    </div>
    <div class="panel-body">
        <ul>
            @foreach(var modelError in Model.SelectMany(keyValuePair => keyValuePair.Value.Errors))
            {
                <li>@modelError.ErrorMessage</li>
            }
        </ul>
    </div>
    <div style="width:100%;text-align:center;margin:0 auto;">
        <div style="width: 100px; margin: 0px auto 10px; padding: 10px; background: none repeat scroll 0px 0px rgb(255, 0, 0); color: rgb(255, 255, 255); cursor: pointer;" onclick="$('#pageloaddiv').fadeOut(1000);hideValidationMessage();">@BeeKeepersBusiness.Resource.Ok</div>
    </div>
</div>
