﻿@model BeekeepersWeb.Areas.Manager.Models.ChangePasswordModel
@{
    ViewBag.Title = @BeeKeepersBusiness.Resource.ChangePassword;
    Layout = "~/Areas/Manager/Views/Shared/_LayoutPage1.cshtml";
}

<style type="text/css">
    #cke_Editor {
        width: 850px;
    }

    .field-validation-error {
        color: #ff0000;
    }
    .field-validation-error {
        width:100%;
        float:left;

    }
    .forms {
           width:100%;
        float:left;
    }
</style>


@using (Html.BeginForm("ChangePassword", "Admin"))
{
    @Html.ValidationSummary(true);
    
    <div class="container innerpages">
        <div class="signupform">
            <div class="col-sm-6" style="width: 90%">
                <h2>@BeeKeepersBusiness.Resource.ChangePassword</h2>
                <div style="float:left;width:350px;">
                    @Html.ValidationMessageFor(model => model.OldPassword)
                    @Html.ValidationMessageFor(model => model.NewPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                <div id="message">
                    
                    @if (@ViewBag.status != null && @ViewBag.status == "1")
                    {
                        <div class="alert alert-success" role="alert">@ViewBag.message</div> 
                        <script type="text/javascript">
                            window.setTimeout(function () { HideMessage(); }, 2000);
                        </script>
                    }
                    else if (@ViewBag.status != null && @ViewBag.status == "0")
                    { 
                        <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
                        <script type="text/javascript">
                            window.setTimeout(function () { HideMessage(); }, 2000);
                        </script>
                    }
                </div>
                
                <div class="forms">
                    @Html.TextBoxFor(Model => Model.OldPassword, new { @id = "OldPassword",@placeholder=@BeeKeepersBusiness.Resource.Pleaseenteroldpassword,@maxlength="20", @type = "Password", @class = "form-control" })
                    @Html.TextBoxFor(Model => Model.NewPassword, new { @id = "NewPassword", @placeholder=@BeeKeepersBusiness.Resource.Pleaseenternewpassword,@maxlength="20",@type = "Password", @class = "form-control" })
                    @Html.TextBoxFor(Model => Model.ConfirmPassword, new { @id = "ConfirmPassword", @placeholder=@BeeKeepersBusiness.Resource.Pleaseenterconfirmpassword ,@maxlength="20",@type = "Password", @class = "form-control" })
                </div>
                <div style="float: right; width: 100%; margin-top: 10px;">
                    <input type="submit" value="@BeeKeepersBusiness.Resource.SubmitInformation" class="buttons pull-right" onclick="return checkvalidation();">
                </div>
                    </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






