﻿@model BeekeepersWeb.Areas.Manager.Models.ClassPageContent

@{
    ViewBag.Title = @BeeKeepersBusiness.Resource.AddEditPage;
    Layout = "~/Areas/Manager/Views/Shared/_LayoutPage1.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>
<style type="text/css">
    #cke_Editor {
        width:850px;
    }
    .field-validation-error {
        color:#ff0000;
    }
</style>
<script type="text/javascript">

    function GetPageContent(event) {
        select_text = event.options[event.selectedIndex].innerHTML;
        select_value = event.options[event.selectedIndex].value;
        
        document.getElementById("pageformatedname").value = select_text;
        $.ajax({
            url: '@Url.Action("GetPageContent", "pagecontents")',
            data: { pagename: select_value },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data != "") {
                    try
                    {
                        data = JSON.parse(data);
                        CKEDITOR.instances.Editor.setData(data.pagecontent);
                        CKEDITOR.instances.Editor1.setData(data.frenchContent);
                    }
                    catch (e)
                    {
                        CKEDITOR.instances.Editor.setData("");
                        CKEDITOR.instances.Editor1.setData("");
                    }
                }
                else
                {
                    CKEDITOR.instances.Editor.setData("");
                    CKEDITOR.instances.Editor1.setData("");
                }
            },
            error: function (reponse) {
                alert("error : " + JSON.stringify(reponse));
            }
        });

    }
    function checkvalidation() {
        message = "";
        if (document.getElementById('pagename').value == "") {
            message = "Please select page <br />";
        }
        if (CKEDITOR.instances.Editor.getData() == "") {
            message += "Please fill page content for english version <br/>";
        }
        if (CKEDITOR.instances.Editor1.getData() == "") {
            message += "Please fill page content for french version";
        }
        if (message != "") {
            document.getElementById("message").innerHTML = "<div class='alert alert-danger' role='alert'>" + message + "</div>";
            return false;
        }
        else {

            return true;
        }
    }
</script>
@using (Html.BeginForm("AddEditPage","PageContents")) {
    @Html.AntiForgeryToken()
        <div class="container innerpages">
          <div class="signupform">
            <div class="col-sm-6" style="width:90%">
              <h2> @BeeKeepersBusiness.Resource.AddPageContent </h2>
                <div id="message">
                    @if (@ViewBag.status != null && @ViewBag.status == "1")
                    {
                        <div class="alert alert-success" role="alert">@ViewBag.message</div> 
                        <script type="text/javascript">
                            window.setTimeout(function () { HideMessage(); }, 2000);
                        </script>
                    }
                    else if (@ViewBag.status != null && @ViewBag.status == "0")
                    { 
                        <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
                        <script type="text/javascript">
                            window.setTimeout(function () { HideMessage(); }, 2000);
                        </script>
                    }
                </div>
                @* @Html.ValidationMessageFor(model => model.pagename)
                 @Html.ValidationMessageFor(model => model.Editor)<br />*@
              <div class="forms">
                @Html.DropDownListFor(Model=>Model.pagename, new List<SelectListItem>
                {
                new SelectListItem{Text=@BeeKeepersBusiness.Resource.Aboutus,Value="aboutus"},
                new SelectListItem{Text=@BeeKeepersBusiness.Resource.Resources,Value="resource"},
                 new SelectListItem{Text=@BeeKeepersBusiness.Resource.BEEKEEPERS,Value="beekeepers"},
                new SelectListItem{Text=@BeeKeepersBusiness.Resource.FARMERS,Value="farmers"},
                new SelectListItem{Text=@BeeKeepersBusiness.Resource.CONTRACTORS,Value="contractors"},
                new SelectListItem{Text=@BeeKeepersBusiness.Resource.PrivacyPolicy,Value="privacy"},
                new SelectListItem{Text=@BeeKeepersBusiness.Resource.Termsofuse,Value="terms"},
                },@BeeKeepersBusiness.Resource.Selectpage, new { @class = "form-control",@style="width:300px;",@onchange = "javascript:GetPageContent(this);" })
               <b>@BeeKeepersBusiness.Resource.ContentForEnglishversion</b><br />
                @Html.EditorFor(Model=>Model.Editor,new { @id = "Editor",@class="form-control"} )
                <br />
                <b>@BeeKeepersBusiness.Resource.ContentForFrenchversion</b><br />
                @Html.EditorFor(Model=>Model.Editor1,new { @id = "Editor1",@class="form-control"} )
                @Html.Hidden("pageformatedname")
                <script type="text/javascript">
                    CKEDITOR.replace("Editor");
                    CKEDITOR.replace("Editor1");
                </script>
                
              </div>
                <div style="float:right;width:100%;margin-top:10px;">
                    <input type="submit" value="@BeeKeepersBusiness.Resource.SubmitInformation" class="buttons pull-right" onclick="return checkvalidation();">
                </div>
                
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

