﻿@model IEnumerable<BeeKeepersDataBase.tblPage>

@{
    Layout = "~/Areas/Manager/Views/Shared/_LayoutPage1.cshtml";
    WebGrid grid = new WebGrid(Model);
    ViewBag.Title = @BeeKeepersBusiness.Resource.Pages;
}
<style type="text/css">
    .col_pagename {
        width:100px !important;
    }
</style>
<link href="~/resources/css/bootstrap.min.css" rel="stylesheet" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js" integrity="sha256-FgiaQnQazF/QCrF9qSvpRY6PACn9ZF8VnlgqfqD1LsE=" crossorigin="anonymous"></script>
<div class="container innerpages">
  <div class="gridview">
      <div id="message">
      @if (@ViewBag.status!=null && @ViewBag.status == "1")
      {
          <div class="alert alert-success" role="alert">@ViewBag.message</div> 
          <script type="text/javascript">
              window.setTimeout(function () { HideMessage(); }, 2000);
          </script>
      }
      else if (@ViewBag.status != null && @ViewBag.status == "0")
      { 
          <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
          <script type="text/javascript">
              window.setTimeout(function () { HideMessage(); }, 2000);
          </script>
      }
    </div>
       
       
    <h2 class="page-title">@BeeKeepersBusiness.Resource.PageContent</h2>
      <div class="row">
          <div class="pull-right tablesearching" style="margin-right:10px;">
              <a href="@Url.Action("AddEditPage","PageContents")" class="buttons pull-right">@BeeKeepersBusiness.Resource.AddEditPage</a>
          </div>
      </div>

    <div class="main-box-body clearfix">
      <div class="table-responsive">
           @{BeeKeepersBusiness.SiteLanguages objlang = new BeeKeepersBusiness.SiteLanguages();}
               @grid.GetHtml(
               tableStyle: "table",

               columns: new[] {
                    grid.Column("pageformatedname",@BeeKeepersBusiness.Resource.PageName, canSort: false,style: "col_pagename",
                    format: @<text>
                    <span>@objlang.GetResxNameByValue(Request.Cookies.Get("culture").Value, @item.pagename)</span>
                    </text>
                    ),
                    grid.Column("pagecontent",@BeeKeepersBusiness.Resource.PageContent, canSort: false,format: @<text><div style="float:left;width:100%;max-height:200px;overflow:auto;">@Html.Raw((string)item.pagecontent)</div></text>),
                    grid.Column("Action", format: @<text>
                                <a class="table-link danger" href="@Url.Action("DeletePage","pagecontents",new{@id=@item.pagename})" onclick="return confirm('@BeeKeepersBusiness.Resource.Areyousuretoremovethispage');"> 
                                    <span class="fa-stack"> 
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i> 
                                    </span> 
                                </a>
                            </text>, canSort: false)
                }

                )
            @if (Model.Count() > 0)
            {
                <div class="pagination pagination-small pagination-right">
                    @grid.PagerList(mode: WebGridPagerModes.All,firstText:@BeeKeepersBusiness.Resource.First,previousText:@BeeKeepersBusiness.Resource.Previous,nextText:@BeeKeepersBusiness.Resource.Next,lastText:@BeeKeepersBusiness.Resource.Last)
                </div>
            }
    </div>
  </div>
  <div class="clearfix"></div>
</div>

