﻿@model BeekeepersWeb.Models.RegistrationModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    
</style>
<link href="~/Content/colorbox/colorbox.css" rel="stylesheet" />
<script src="~/Content/colorbox/jquery.colorbox.js"></script>
<script>
    $(document).ready(function () {
        $(".inline").colorbox({ inline: true, width: "50%",height:"500px" });
    });

</script>

<script type="text/javascript">
    function ResetForm() {
        $("#firstname").val("");
        $("#lastname").val("");
        $("#UserName").val("");
        $("#Pasword").val("");
        $("#ConfirmPasword").val("");
        $("#Email").val("");
        document.getElementById("usertype2").checked = true;
    }
</script>
@using (Html.BeginForm())
{
    <div class="right-db_nonlogin">
        <div class="full">
            <h1><i>
                <img src="~/images/member_login.png"></i>@BeeKeepersBusiness.Resource.RegisterHere</h1>
        </div>

        @Html.Partial("ValidationSummary", ViewData.ModelState)
        <div id="message">

            @if (@ViewBag.status != null && @ViewBag.status == "1")
            {
                <div class="alert alert-success" role="alert">@ViewBag.message</div> 
                <script type="text/javascript">
                    window.setTimeout(function () { HideMessage(); }, 2000);
                </script>
            }
            else if (@ViewBag.status != null && @ViewBag.status == "0")
            { 
                <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
                <script type="text/javascript">
                    window.setTimeout(function () { HideMessage(); }, 2000);
                </script>
            }
        </div>
        <div class="clear"></div>
        <div class="Register_bg">

            <div class="form_left">
                @Html.TextBoxFor(model => model.firstname, new { @placeholder = @BeeKeepersBusiness.Resource.Firstnamewillbekeptprivate, maxlength = 100, autocomplete = "off" })
                @Html.TextBoxFor(model => model.lastname, new { @placeholder = @BeeKeepersBusiness.Resource.Lastnamewillbekeptprivate, maxlength = 100, autocomplete = "off" })
                @Html.TextBoxFor(model => model.UserName, new { @placeholder = @BeeKeepersBusiness.Resource.Usernamevisibletoothers, maxlength = 20, autocomplete = "off" })
            </div>
            <div class="form_right">
                @Html.TextBoxFor(model => model.Email, new { @placeholder = @BeeKeepersBusiness.Resource.Emailwillbekeptprivate, maxlength = 100, autocomplete = "off" })
                @Html.TextBoxFor(model => model.Pasword, new { @placeholder = @BeeKeepersBusiness.Resource.Password, maxlength = 16, @type = "password", autocomplete = "off" })
                @Html.TextBoxFor(model => model.ConfirmPasword, new { @placeholder = @BeeKeepersBusiness.Resource.Confirmpassword, maxlength = 16, @type = "password", autocomplete = "off" })
            </div>

            <div class="clear"></div>
            &nbsp;&nbsp;&nbsp; @BeeKeepersBusiness.Resource.Iama
            <div style="margin-left:-28px;"> 
                <table width="50%">
                    <tr>
                        <td align="center">  <img src="~/Images/farmer.png" alt="@BeeKeepersBusiness.Resource.Farmer" title="@BeeKeepersBusiness.Resource.Farmer"  /></td>
                        <td align="center"><img src="~/Images/tractor.png" alt="@BeeKeepersBusiness.Resource.Contractor" title="@BeeKeepersBusiness.Resource.Contractor" /></td>
                        <td align="center">  <img src="~/Images/bee.png" alt="@BeeKeepersBusiness.Resource.Beekeeper" title="@BeeKeepersBusiness.Resource.Beekeeper" /></td>
                    </tr>
                      <tr>
                        <td align="center"> @Html.RadioButtonFor(Model => Model.usertype, 2, new { Checked = "checked",@id = "usertype2" })</td>
                        <td align="center"> @Html.RadioButtonFor(Model => Model.usertype, 3, new { @id = "usertype3" })</td>
                        <td align="center"> @Html.RadioButtonFor(Model => Model.usertype, 1, new {  @id = "usertype1" })</td>
                    </tr>
                </table>
              </div>
           <br />
            <div style="color:#03703C;">
                <input type="checkbox" id="rdaceept" /> &nbsp;@BeeKeepersBusiness.Resource.Iaccept <u><a class='inline' href="#terms_content" style="text-decoration:none;color:#03703C;">@BeeKeepersBusiness.Resource.TermsConditions</a></u>
            </div>
        </div>
        <div class="Register_bottom">
            @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value=="fr")
            {
                <input type="image"  src="~/images/register_nowbtn.png" onclick="return chekstatus();" />
                <a href="@Url.Action("Index","Home")"><img style="cursor: pointer;border:none;" src="~/images/cancelbtn.png"></a>
            }
            else
            {
                <input type="image"  src="~/images/register_nowbtn_en.png" onclick="return chekstatus();" />
                <a href="@Url.Action("Index","Home")"><img style="cursor: pointer;border:none;" src="~/images/cancelbtn_en.png"></a>
            }
            <br />
             @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value=="fr")
             {
                <a href="@System.Configuration.ConfigurationManager.AppSettings["siteurl"].ToString()/pdf/User_Instructions_French.pdf" target="_blank" style="text-decoration:none;color:#fff;">@BeeKeepersBusiness.Resource.InstructionandResources</a>
             }
             else
             {
                 <a href="@System.Configuration.ConfigurationManager.AppSettings["siteurl"].ToString()/pdf/User_Instructions_English.pdf" target="_blank" style="text-decoration:none;color:#fff;">@BeeKeepersBusiness.Resource.InstructionandResources</a>
             }
        </div>
    </div>

    
}

<div style='display:none'>
	<div id='terms_content' style='padding:10px; background:#fff;'>
	    @Html.Raw((string)@ViewBag.termstext)
	</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function chekstatus() {
            var result = document.getElementById("rdaceept").checked;
            if (result == false) {
                alert("@Html.Raw(@BeeKeepersBusiness.Resource.PleaseacceptTermsofuse.ToString())");
                return false;
            }
            else
                return true;
        }
    </script>
}
