﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Disclaimer</title>
</head>
<body>
    <div>
        @Html.Raw(@ViewBag.pagetext)
    </div>
</body>
</html>
