﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
</script>*@
<script type="text/javascript">
    function showactivity(value)
    {
        $('#updateDiv').html('<div style="margin: 100px auto; width: 150px; white-space: nowrap; height: 112px;text-align: center; z-index: 1000;"><table border="0" style="text-align: center;"><tr><td align="left"><img src="@System.Configuration.ConfigurationManager.AppSettings["siteurl"]/Images/loading.gif" /></td></tr></table></div>');
        var id = value.split('-')[1];
        $.ajax({
            url: '@Url.Action("ActivityList", "Nearby")',
                data: { id: id, startdate: $('#startdate').val(), enddate: $('#enddate').val() },
                cache: false,
                type: "POST",
                success: function (data) {
                    $('#updateDiv').html('');
                    $('#updateDiv').html(data);
                },
                error: function (reponse) {
                    alert("error : " + JSON.stringify(reponse));
                }
            });
    }
    function showproperty(value) {
        $('#updateDiv').html('<div style="margin: 100px auto; width: 150px; white-space: nowrap; height: 112px;text-align: center; z-index: 1000;"><table border="0" style="text-align: center;"><tr><td align="left"><img src="@System.Configuration.ConfigurationManager.AppSettings["siteurl"]/Images/loading.gif" /></td></tr></table></div>');
        var id = value.split('-')[1];
        $.ajax({
            url: '@Url.Action("PropertyList", "Nearby")',
            data: { id: id, startdate: $('#startdate').val(), enddate: $('#enddate').val() },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#updateDiv').html('');
                $('#updateDiv').html(data);
            },
            error: function (reponse) {
                alert("error : " + JSON.stringify(reponse));
            }
        });
    }
    function showsearch()
    {
        if (document.getElementById("txtsearch").value != "") {
            $('#updateDiv').html('<div style="margin: 100px auto; width: 150px; white-space: nowrap; height: 112px;text-align: center; z-index: 1000;"><table border="0" style="text-align: center;"><tr><td align="left"><img src="@System.Configuration.ConfigurationManager.AppSettings["siteurl"]/Images/loading.gif" /></td></tr></table></div>');
            $.ajax({
                url: '@Url.Action("Search", "Nearby")',
            data: { startdate: $('#startdate').val(), enddate: $('#enddate').val(), searchtext: $('#txtsearch').val() },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#updateDiv').html('');
                $('#updateDiv').html(data);
                if (data == "<img src='@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"].ToString()/Images/img_map.png' style='height: 287px; width: 323px;'>") {
                    alert("@Html.Raw(@BeeKeepersBusiness.Resource.LocationnotfoundPleasetryagain)");
                }
            },
            error: function (reponse) {
                alert("error : " + JSON.stringify(reponse));
            }
        });
        }
        else {
            alert("@Html.Raw(@BeeKeepersBusiness.Resource.Pleaseenteralocationtosearch)");
        }
        
    }
    function setInitalmap() {
        document.getElementById("updateDiv").innerHTML = "<img style='height: 287px; width: 323px;'  src='http://beeconnected.ca/Images/img_map.png' />";
    }
    $(document).ready(function () {
        setInitalmap()
    });
    $(document).ready(function () {
        $("#nearby").addClass("leftmenuactive");
    });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".tab_content").hide();
        $(".tab_content:first").show();

        $("ul.tabs li").click(function () {
            $("ul.tabs li").removeClass("active");
            $(this).addClass("active");
            $(".tab_content").hide();
            var activeTab = $(this).attr("rel");
            $("#" + activeTab).fadeIn();
        });
    });

</script>

<style type="text/css">
    
    .anchor_view {
    color: #0b4b00;
    padding: 3px;
    text-decoration: none;
    }
    .anchor_view:hover {
        background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    color: #0b4b00;
    padding: 3px;
    text-decoration: none;
    }
    .form_left {
       margin: 5px 5px 5px 0px;
    }
    ul.tabs {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
        height: 32px;
        border-left: 1px solid #999999;
        width: 112%;
    }

        ul.tabs li {
            float: left;
            margin: 0;
            cursor: pointer;
            padding: 0 24px;
            height: 31px;
            line-height: 31px;
            border: 1px solid #999999;
            border-left: none;
            font-weight: bold;
            background: #EEEEEE;
            overflow: hidden;
            position: relative;
            padding: 0 10px !important;

        }

            ul.tabs li:hover {
                background: #CCCCCC;
            }

            ul.tabs li.active {
               background: none repeat scroll 0 0 #0b4b00;
                color: #fff;
            }

    .tab_container {
        clear: both;
        float: left;
        width: 98%;
        height: 258px;
    }

    .tab_content {
        padding: 5px;
        font-size: 1.2em;
        display: none;
        height:278px;
        overflow-y: auto;
    }

    .form_right {
        width: 52%;
    }

    .myactivitylist_node {
        float: left;
        width: 299px;
    }

    .myactivitylist_detail {
        background: none repeat scroll 0 0 #ccccc8;
        border-bottom: 1px solid;
        float: left;
        padding: 9px;
        width: 95%;
    }

    .myactivitylist_label {
        float: left;
        font-size: 14px;
        width: 100%;
        word-wrap:break-word;
    }

    .myactivitylist_labelsub {
        float: right;
    }

    .viewaroundlabel {
        text-decoration: underline;
        color: #0B4B00;
    }

    .searchbtn {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
        border: medium none !important;
        color: #000 !important;
        float: right !important;
        margin: 5px 10px 0 47px !important;
        padding: 3px !important;
        width: 72px !important;
    }

    .searchtxt {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
        border: 1px solid !important;
        border-radius: 5px !important;
        color: #000 !important;
        float: left !important;
        margin: 5px 0 0 22px !important;
        padding: 15px !important;
        width: 251px !important;
    }

</style>

@Html.Partial("loginmenus")
<div class="right-db">
    <div class="full">
            <h1>@BeeKeepersBusiness.Resource.Searchnearby</h1>
        
        
        </div>
   
    @Html.Partial("ValidationSummary", ViewData.ModelState)
    <div id="message">
        @if (@ViewBag.status != null && @ViewBag.status == "1")
        {
            <div class="alert alert-success" role="alert">@ViewBag.message</div> 
            <script type="text/javascript">
                window.setTimeout(function () { HideMessage(); }, 2000);
            </script>
        }
        else if (@ViewBag.status != null && @ViewBag.status == "0")
        { 
            <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
            <script type="text/javascript">
                
                window.setTimeout(function () { HideMessage(); }, 2000);
            </script>
        }
    </div>

    <div class="clear"></div>
    <div class="Register_bg">
        <div style="float: left; width: 100%;">
            <div style="float: left; width: 45%;">
                <ul class="tabs">
                    <li class="active" rel="tab3" onclick="setInitalmap();">@BeeKeepersBusiness.Resource.Search</li>
                    <li rel="tab1" onclick="setInitalmap();">@BeeKeepersBusiness.Resource.Activity</li>
                    @if (BeekeepersWeb.UserSession.UserRole != null && BeekeepersWeb.UserSession.UserRole.ToString() == "2")
                    {   
                        <li rel="tab2" onclick="setInitalmap();">@BeeKeepersBusiness.Resource.Property</li>
                    }
                </ul>
            </div>
            <div style="float: right; width: 363px;">
                <input type="text" id="startdate" name="startdate" placeholder="@BeeKeepersBusiness.Resource.Pleaseselectstartdate" style="height: 23px; margin-left: 36px; width: 152px; float: left;" class="date" />
                <input type="text" id="enddate" name="enddate" placeholder="@BeeKeepersBusiness.Resource.Enddate" style="height: 23px; margin-left: 10px; width: 152px; float: left;" class="date" />
            </div>
        </div>
        <div style="float: left; width: 100%">
            <div class="form_left">
                <div class="tab_container">
                    <!-- #tab2 -->
                    <div id="tab3" class="tab_content">

                        <input id="txtsearch" type="text" placeholder="@BeeKeepersBusiness.Resource.Searchalocation" class="searchtxt">
                        @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value=="fr")
                        {
                            <input type="image" id="btnserach" src="~/Images/send_BTN.png" value="Send" class="searchbtn" onclick="showsearch();" />
                        }
                        else
                        {
                            <input type="image" id="btnserach" src="~/Images/send_BTN_en.png" value="Send" class="searchbtn" onclick="showsearch();" />
                        }
                            

                    </div>
                    <!-- #tab3 -->

                    <div id="tab1" class="tab_content divscroll">
                        @if (((IEnumerable<BeeKeepersDataBase.SP_Select_Activitylist_Result>)ViewBag.lstactivity).Count() > 0)
                        {
                            foreach (var item in ViewData["lstactivity"] as List<BeeKeepersDataBase.SP_Select_Activitylist_Result>)
                            {  
                            <div class="myactivitylist_node">

                                <div class="myactivitylist_detail">
                                    <div class="myactivitylist_label">
                                        <img src="~/Images/calendar_icon@2X.png" />&nbsp;@item.startdate.ToString("dd-MMM-yyyy",new System.Globalization.CultureInfo("en-US")) &nbsp;&nbsp;&nbsp;&nbsp;
                                            <img src="~/Images/calendar_icon@2X.png" />&nbsp;@item.enddate.ToString("dd-MMM-yyyy",new System.Globalization.CultureInfo("en-US"))
                                    </div>
                                    <div class="myactivitylist_label">
                                        @item.note
                                    </div>
                                    <div class="myactivitylist_label">
                                        <div class="myactivitylist_labelsub">
                                            <a class="anchor_view" href="javascript:void(0)" onclick="showactivity('abc-@item.id');" id="abc-@item.id">@BeeKeepersBusiness.Resource.Viewnearbyactivities</a>
                                            @* @using (Ajax.BeginForm("ActivityList", "Nearby", new { @id = item.id }, new AjaxOptions { UpdateTargetId = "updateDiv", HttpMethod = "POST"}, new { @class = "viewaroundlabel" }))
                                                 {
                                                     <input type="hidden" name="hdnstartdate@(item.id)" id="hdnstartdate@(item.id)"  />  
                                                     <input type="hidden" name="hdnendate@(item.id)"  id="hdnenddate@(item.id)"  />
                                                     <input type="submit" onclick="submitform();" value="View nearby activities" style="float: right; background: none repeat scroll 0% 0% transparent; width: 151px; margin: 0px; padding: 0px;cursor:pointer;" />
                                                 }*@
                                        </div>
                                    </div>
                                </div>
                            </div>   
                            }
                        }
                        else
                        {
                            <div style="float:left;text-align:center;width:100%;margin-top:100px;">
                                @BeeKeepersBusiness.Resource.NoActivitiesaddedyet
                            </div>
                        }
                        

                    </div>
                    @if (BeekeepersWeb.UserSession.UserRole != null && BeekeepersWeb.UserSession.UserRole.ToString() == "2")
                    {
                    @* @model IEnumerable<BeeKeepersBusiness.PropertyResponse>*@
                    <!-- #tab1 -->
                    <div id="tab2" class="tab_content divscroll">
                        @if (((IEnumerable<BeeKeepersBusiness.PropertyResponse>)ViewBag.lstproperty).Count() > 0)
                        {
                            foreach (var item in ViewData["lstproperty"] as List<BeeKeepersBusiness.PropertyResponse>)
                            {  
                                <div class="myactivitylist_node">
                                    <div class="myactivitylist_detail">
                                        <div class="myactivitylist_label">
                                            @*@Ajax.ActionLink(@item.propertyName, "PropertyList", "Nearby", new { id = item.propertyId }, new AjaxOptions { UpdateTargetId = "updateDiv" }, new { @class = "viewaroundlabel" })*@
                                            @item.propertyName
                                        </div>
                                        <div class="myactivitylist_label">
                                            <div class="myactivitylist_labelsub">
                                                <a class="anchor_view" href="javascript:void(0)" id="abc-@item.propertyId" onclick="showproperty('abc-@item.propertyId');">@BeeKeepersBusiness.Resource.Viewnearbyactivities</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            }
                        }
                        else
                        {
                            <div style="float:left;text-align:center;width:100%;margin-top:100px;">
                                @BeeKeepersBusiness.Resource.NoPropertiesaddedyet
                            </div>
                        }
                        
                    </div>
                    
                    }

                </div>
            </div>
            <div style="float: left; width: 323px;" id="updateDiv" >
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script type="text/javascript">
        var basepath = location.protocol + "//" + location.host;
        $('#enddate').datepicker({
            dateFormat: 'dd-mm-yy',
            minDate: 0,
            onSelect: function () { },
            onClose: function () {
                $(this).focus();
            }
        });

        $('#startdate').datepicker({
            dateFormat: 'dd-mm-yy',
            minDate: 0,
            onSelect: function (dateText, inst) {
                var dateParts = dateText.split("-");
                var nyd_start = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
                var nyd = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
                nyd.setDate(nyd.getDate() - 1);
                nyd.setMonth(nyd.getMonth() + 2);

                $('#enddate').datepicker("option", {
                    minDate: new Date(nyd_start)
                });
            },
            onClose: function () {
                $(this).focus();
            }
        });
    </script>
}