﻿@model IEnumerable<BeeKeepersDataBase.sp_ListActivities_Result>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js" integrity="sha256-FgiaQnQazF/QCrF9qSvpRY6PACn9ZF8VnlgqfqD1LsE=" crossorigin="anonymous"></script>

@*<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAPAJCWKEzIL_kM-EBU9e-u0kMDffzoVwE&libraries=places"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js" integrity="sha256-FgiaQnQazF/QCrF9qSvpRY6PACn9ZF8VnlgqfqD1LsE=" crossorigin="anonymous"></script>
*@


<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAPAJCWKEzIL_kM-EBU9e-u0kMDffzoVwE&sensor=false&callback=initialize"></script>


<script type="text/javascript">
    
    function initialize() {
        var center = new google.maps.LatLng(@ViewBag.Platitude, @ViewBag.Plongitude);
        var marker;
        var txtLat;
        var txtlong;
        var bool = true;
        txtLat = @ViewBag.Platitude;
        txtlong = @ViewBag.Plongitude;
        bool = false;

        var myLatlng = new google.maps.LatLng(txtLat, txtlong);
        image = "http://beeconnected.ca/images/pin_beekeeper.png";
            
        var mapOptions = {
            zoom: bool ? 8 : 10,
            center: myLatlng,
            MapTypeId: google.maps.MapTypeId.TERRAIN

        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
        var circle = new google.maps.Circle({
            center: center,
            map: map,
            radius: 5000,          // IN METERS.
            fillColor: '#FF6600',
            fillOpacity: 0.3,
            strokeColor: "#FFF",
            strokeWeight: 0         // DON'T SHOW CIRCLE BORDER.
        });
        var bounds = new google.maps.LatLngBounds();
        var infowindow = new google.maps.InfoWindow();
        @foreach (var item in Model)
	    {
            
            @:var latlng = new google.maps.LatLng(@item.latitude, @item.longitude);
            @:bounds.extend(latlng);
            @:var marker = new google.maps.Marker({icon:image,map: map,position: new google.maps.LatLng(@item.latitude, @item.longitude)});
            @:google.maps.event.addListener(marker, 'click', function() {infowindow.setContent('<div style="float:left;width:200px;"><div style="float:left;width:200px;">@item.username</div><div style="float:left;width:200px;"><a href="@Url.Action("index", "userprofile", new { @id=@item.userid,@actid=@ViewBag.pid})">@item.note</a></div></div>');infowindow.open(map, this);}); 
		     
        }
        
        if (bool) {
            marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'Nouvel emplacement',
                icon: image
            });
        }
    }
    
</script>
<div id="map-canvas"></div>
