﻿@model IEnumerable<BeeKeepersDataBase.sp_users_Result>

@{
    ViewBag.Title = @BeeKeepersBusiness.Resource.users;
    Layout = "~/Areas/Manager/Views/Shared/_LayoutPage1.cshtml";
    WebGrid grid = new WebGrid(Model);
}
<style type="text/css">
    tfoot {
        display:none;
    }
    .table {
        margin-bottom:0px !important;
    }
</style>

<link href="~/resources/css/bootstrap.min.css" rel="stylesheet" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js" integrity="sha256-FgiaQnQazF/QCrF9qSvpRY6PACn9ZF8VnlgqfqD1LsE=" crossorigin="anonymous"></script>

<div class="container innerpages">
    <div class="gridview">
        <div id="message">
            @if (@ViewBag.status != null && @ViewBag.status == "1")
            {
                <div class="alert alert-success" role="alert">@ViewBag.message</div> 
                <script type="text/javascript">
                    window.setTimeout(function () { HideMessage(); }, 2000);
                </script>
            }
            else if (@ViewBag.status != null && @ViewBag.status == "0")
            { 
                <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
                <script type="text/javascript">
                    window.setTimeout(function () { HideMessage(); }, 2000);
                </script>
            }
        </div>


        <h2 class="page-title">@BeeKeepersBusiness.Resource.UsersList</h2>
        <div class="row">
            <div class="pull-right tablesearching" style="width:50%;">
                @using (Html.BeginForm("Index", "Users", FormMethod.Post, null))
                {
              
                    <div class="col-sm-6">
                        @Html.DropDownList("usertype", new List<SelectListItem>
                {
                new SelectListItem{Text=@BeeKeepersBusiness.Resource.SelectAll,Value="0"},
                new SelectListItem{Text=@BeeKeepersBusiness.Resource.BEEKEEPERS,Value="1"},
                new SelectListItem{Text=@BeeKeepersBusiness.Resource.FARMERS,Value="2"},
                new SelectListItem{Text=@BeeKeepersBusiness.Resource.CONTRACTORS,Value="3"}
                }, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">

                            <input class="form-control"  autocomplete="off" value="@ViewBag.nickname" name="txtnickname" placeholder="@BeeKeepersBusiness.Resource.Searchbyname">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>

                            </span>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-9"></div>
        </div>
        <div class="main-box-body clearfix">
            <div class="table-responsive">
                @*grid.Column("statuss","Status", canSort: false,format:@<span class="@item.statuss">@item.statuss</span>),*@
                  @{
                    BeeKeepersBusiness.SiteLanguages objlang = new BeeKeepersBusiness.SiteLanguages();
                    }
                @grid.GetHtml(
               tableStyle: "table",
               columns: new[] {
                    grid.Column("username",@BeeKeepersBusiness.Resource.UserName),
                    grid.Column("email",@BeeKeepersBusiness.Resource.Email,format: @<a href="mailto:@item.Email">@item.Email</a>),
                    grid.Column(null,@BeeKeepersBusiness.Resource.UserType,
                    format: @<text>
                    <span>@objlang.GetResxNameByValue(Request.Cookies.Get("culture").Value, @item.usertypename)</span>
                    </text>
                    ),
                    grid.Column("addedon",@BeeKeepersBusiness.Resource.AddedOn),
                    grid.Column(null,@BeeKeepersBusiness.Resource.Action
, format: @<text>
                    <a class="table-link danger" href="@Url.Action("DeleteUser","Users",new{@id=@item.id})" onclick="return confirm('@BeeKeepersBusiness.Resource.Areyousuretoremovethisuser');">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    </text>, canSort: false)
                    }
                )
                @if (Model.Count() > 0)
                {
                    <div class="pagination pagination-small pagination-right">
                        @grid.PagerList(mode: WebGridPagerModes.All,firstText:BeeKeepersBusiness.Resource.First,previousText:BeeKeepersBusiness.Resource.Previous,nextText:BeeKeepersBusiness.Resource.Next,lastText:BeeKeepersBusiness.Resource.Last)
                    </div>
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
