﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="testpush.aspx.cs" Inherits="BeeKeepers.testpush" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:RadioButton ID="rad1" runat="server" GroupName="rad" Text="Android" />
        <asp:RadioButton ID="rad2" runat="server" GroupName="rad" Text="iPhone" /><br />
        UDID:<asp:TextBox ID="txtid" runat="server" Width="200"></asp:TextBox><br />
        message:<asp:TextBox ID="txtMsg" runat="server" Width="200"></asp:TextBox><br />
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="CheckNotification" /><br />
    </div>
    </form>
</body>
</html>
