﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    <!-- Bootstrap core CSS -->
    <link href="~/Areas/Manager/css/main.css" rel="stylesheet" />
    <link href="~/Areas/Manager/css/bootstrap.css" rel="stylesheet" />
    <!-- Bootstrap theme -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .Active 
        {
            border-radius: 0.25em;
            color: #fff;
            display: inline;
            font-size: 75%;
            font-weight: bold;
            line-height: 1;
            padding: 0.2em 0.6em 0.3em;
            text-align: center;
            vertical-align: baseline;
            white-space: nowrap;
            background:#5cb85c;
        }
        .Inactive
        {
            border-radius: 0.25em;
            color: #fff;
            display: inline;
            font-size: 75%;
            font-weight: bold;
            line-height: 1;
            padding: 0.2em 0.6em 0.3em;
            text-align: center;
            vertical-align: baseline;
            white-space: nowrap;
            background:#f0ad4e;
        }
        .divTranslate {
              padding: 5px;
              position: absolute;
              right: 15%;
              z-index: 1000;
              top: 24px;
        }
            .divTranslate a {
                color:#fff;
                text-decoration:none;
            }
            .divTranslate a:hover {
                color:#fff;
                font-weight:bold;
                text-decoration:none;
            }
    </style>
    <script type="text/javascript">
        function HideMessage()
        {
            $('#message').fadeOut(1000);
        }
    </script>
</head>
<body>
    <header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 logo" style="margin-left:-60px;"><a href="@Url.Action("index","admin")">
          <img style="position:absolute;width: 150px;top: -13px;" src="~/images/beeconnected_logo.png" alt="BeeConnected" style="border:none;" />
        </a></div>
    </div>
  </div>
</header>
<div class="clearfix">
    <div class="divTranslate">
        @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value=="fr")
        {
            <a href="@Url.Action("ChangeLanguage", "admin", new { lang = "en" })" >English Version</a>
        }
        else
        {
            <a href="@Url.Action("ChangeLanguage", "admin", new { lang = "fr" })">Francais Version</a>
        }
    </div>
</div>
<div class="insidetabs">
  <div class="container">
      
    <div class="row" style="margin-left:93px;">
      <ul class="adminnavigation" style="float:right;">
        <li><a href="@Url.Action("index","Users")"> <i class="fa fa-user"></i>@BeeKeepersBusiness.Resource.users</a></li>
        <li><a href="@Url.Action("Index","Activity")"> <i class="fa fa-user"></i>@BeeKeepersBusiness.Resource.Activities</a></li>
        <li><a href="@Url.Action("Index","Properties")"> <i class="fa fa-user"></i>@BeeKeepersBusiness.Resource.Property</a></li>
        <li><a href="@Url.Action("Index","pagecontents")"> <i class="fa fa-user"></i>@BeeKeepersBusiness.Resource.Pages</a></li>
        <li><a href="@Url.Action("Index","AdminMessage")"> <i class="fa fa-user"></i>@BeeKeepersBusiness.Resource.Message</a></li>
        <li><a href="@Url.Action("ChangePassword","admin")"> <i class="fa fa-user"></i>@BeeKeepersBusiness.Resource.ChangePassword</a></li>
        <li><a href="@Url.Action("logout","admin")"> <i class="fa fa-user"></i>@BeeKeepersBusiness.Resource.Logout</a></li>
        @*<li><a href="rest-admin.html"> <i class="fa fa-list-alt"></i>Users</a></li>
        <li><a href="order-list.html" class="selctedtab"> <i class="fa fa-truck"></i>Orders List</a></li>*@
        
      </ul>
    </div>
  </div>
</div>
        @RenderBody()
    <footer>
  <div class="container">
    <p style="color:#fff;">Copyright &copy; BeeConnected</p>
  </div>
</footer>
     @Scripts.Render("~/bundles/jquery")
     @RenderSection("scripts", required: false)
    <script src="~/Areas/Manage/js/bootstrap.min.js"></script>
</body>
</html>
