﻿@model BeekeepersWeb.Models.ContactusModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .form_left {
        float: left;
        margin: 5px;
        width: 60%;
    }
</style>
<script type="text/javascript">
    function ResetForm() {
        $("#name").val("");
        $("#contactno").val("");
        $("#email").val("");
        $("#query").val("");
    }
</script>
@using (Html.BeginForm())
{
    
    
        <div class="right-db_nonlogin">
            <div class="full">
                <h1>@BeeKeepersBusiness.Resource.Contactus</h1>
            </div>
            @Html.Partial("ValidationSummary", ViewData.ModelState)
            <div id="message">

                @if (@ViewBag.status != null && @ViewBag.status == "1")
                {
                    <div class="alert alert-success" role="alert">@ViewBag.message</div> 
                    <script type="text/javascript">
                        window.setTimeout(function () { HideMessage(); }, 2000);
                    </script>
                }
                else if (@ViewBag.status != null && @ViewBag.status == "0")
                { 
                    <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
                    <script type="text/javascript">
                        window.setTimeout(function () { HideMessage(); }, 2000);
                    </script>
                }
            </div>
            <div class="clear"></div>
            <div class="Register_bg">
                <div class="form_left">
                    @Html.TextBoxFor(model => model.name, new { @placeholder = @BeeKeepersBusiness.Resource.Name, maxlength = 100, autocomplete = "off" })
                </div>
                <div class="form_left">
                   @Html.TextBoxFor(model => model.email, new { @placeholder = @BeeKeepersBusiness.Resource.Email, maxlength = 100, autocomplete = "off" })
                </div>
                <div class="form_left">
                   @Html.TextBoxFor(model => model.contactno, new { @placeholder = @BeeKeepersBusiness.Resource.ContactNumber, maxlength = 15, autocomplete = "off" })
                </div>
                <div class="form_left">
                   @Html.TextAreaFor(model => model.query, new { @placeholder = @BeeKeepersBusiness.Resource.EnterYourQuery, maxlength = 1000,  autocomplete = "off",rows=3,cols=37,@class="contacttextarea" })
                </div>
                <div class="clear"></div>

            </div>
            <div class="Register_bottom">
                @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value=="fr")
                {
                     <input type="image" src="~/Images/submit_BTN.png" />
                     <img style="cursor: pointer;" src="~/images/cancel_btn.png" onclick="ResetForm();">
                }
                else
                {
                    <input type="image" src="~/Images/submit_BTN_en.png" />
                    <img style="cursor: pointer;" src="~/images/cancel_btn_en.png" onclick="ResetForm();">
                }
            </div>
        </div>

    
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
