﻿@model IEnumerable<BeeKeepersDataBase.SP_Select_Activitylist_Result>

@{
    ViewBag.Title = @BeeKeepersBusiness.Resource.Activities;
    Layout = "~/Areas/Manager/Views/Shared/_LayoutPage1.cshtml";
    WebGrid grid = new WebGrid(Model);
}
<style type="text/css">
    tfoot {
        display:none;
    }
    .table {
        margin-bottom:0px !important;
    }
    .tdactivityuser {
        width:150px;
    }
    .tdactivitydate {
        width:200px;
    }
    .tdaction {
        width:50px;
        text-align:center !important;
    }
    .col-sm-6 {
        width:auto !important;
        padding-left:0px !important;
    }
</style>
<link href="~/resources/css/bootstrap.min.css" rel="stylesheet" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js" integrity="sha256-FgiaQnQazF/QCrF9qSvpRY6PACn9ZF8VnlgqfqD1LsE=" crossorigin="anonymous"></script>
<div class="container innerpages">
<div class="gridview">
      <div id="message">
      @if (@ViewBag.status!=null && @ViewBag.status == "1")
      {
          <div class="alert alert-success" role="alert">@ViewBag.message</div> 
          <script type="text/javascript">
              window.setTimeout(function () { HideMessage(); }, 2000);
          </script>
      }
      else if (@ViewBag.status != null && @ViewBag.status == "0")
      { 
          <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
          <script type="text/javascript">
              window.setTimeout(function () { HideMessage(); }, 2000);
          </script>
      }
    </div>
       
       
    <h2 class="page-title">@BeeKeepersBusiness.Resource.ActivityList</h2>
   <div class="row">
       <div class="pull-right tablesearching" style="width:50%;">
                @using (Html.BeginForm("Index", "activity", FormMethod.Post, null))
                {
                    <div class="col-sm-6">
                        @Html.DropDownList("usertype", new List<SelectListItem>
                        {
                            new SelectListItem{Text=@BeeKeepersBusiness.Resource.SelectAll,Value="0"},
                            new SelectListItem{Text=@BeeKeepersBusiness.Resource.BEEKEEPERS,Value="1"},
                            new SelectListItem{Text=@BeeKeepersBusiness.Resource.FARMERS,Value="2"},
                            new SelectListItem{Text=@BeeKeepersBusiness.Resource.CONTRACTORS,Value="3"}
                        }, new { @class = "form-control",style="width:125px !important;" })
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control" value="@ViewBag.nickname" name="txtnickname" autocomplete="off" placeholder="@BeeKeepersBusiness.Resource.Searchbyusername">
                            
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-6">
                        <input class="form-control" value="@ViewBag.startdate" autocomplete="off" id="txtstartdate" name="txtstartdate" placeholder="@BeeKeepersBusiness.Resource.Startdate" style="width:127px;" />&nbsp;&nbsp;
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" value="@ViewBag.enddate" autocomplete="off" id="txtenddate" name="txtenddate" placeholder="@BeeKeepersBusiness.Resource.Enddate"  style="width:127px;" />
                    </div>
                    <div class="col-sm-6" style="width:50px;">
                        <span class="input-group-btn">

                            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                }
            </div>
        <div class="col-md-9"> </div>
    </div>
    <div class="main-box-body clearfix">
      <div class="table-responsive">
           @{
                    BeeKeepersBusiness.SiteLanguages objlang = new BeeKeepersBusiness.SiteLanguages();
                    }
               @grid.GetHtml(
               tableStyle: "table",

               columns: new[] {
                    grid.Column("Username",@BeeKeepersBusiness.Resource.UserName, canSort: false,style:"tdactivityuser"),
                    grid.Column(null,@BeeKeepersBusiness.Resource.UserType, canSort: false,style:"tdactivityuser",
                    format: @<text>
                    <span>@objlang.GetResxNameByValue(Request.Cookies.Get("culture").Value, @item.usertypetxt)</span>
                    </text>
                    ),
                    grid.Column("",@BeeKeepersBusiness.Resource.ActivityDate, canSort: false,format: @<text>@item.startdate.ToString("dd/MMM/yyyy") - @item.expirydate.ToString("dd/MMM/yyyy")</text>,style:"tdactivitydate"),
                    grid.Column("note",@BeeKeepersBusiness.Resource.Note, canSort: false,format: @<text><div style="float:left;width:100%;max-height:200px;overflow:auto;">@item.note</div></text>),
                   grid.Column(@BeeKeepersBusiness.Resource.Action, format: @<text>
                        <a class="table-link danger" href="@Url.Action("delete","Activity",new{@id=@item.id})" onclick="return confirm('@BeeKeepersBusiness.Resource.Areyousuretoremovethisactivity');">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    </text>, canSort: false,style:"tdaction")
                    
                }

                )
            @if (Model.Count() > 0)
            {
                <div class="pagination pagination-small pagination-right">
                    @grid.PagerList(mode: WebGridPagerModes.All,firstText:@BeeKeepersBusiness.Resource.First,previousText:@BeeKeepersBusiness.Resource.Previous,nextText:@BeeKeepersBusiness.Resource.Next,lastText:@BeeKeepersBusiness.Resource.Last)
                </div>
            }

                

            
                  
    
    </div>
  </div>
  <div class="clearfix"></div>
</div>
    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script type="text/javascript">
        var basepath = location.protocol + "//" + location.host;
        $('#txtstartdate').datepicker(

        );

        $('#txtenddate').datepicker(

        );
        </script>
        }