﻿@model BeekeepersWeb.Models.ClassSendMessage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#messages").addClass("leftmenuactive");
    });
    var ButtonKeys = { "EnterKey": 13 };
    $(function () {
        $("#MainForm").keypress(function (e) {
            if (e.which == ButtonKeys.EnterKey) {
                var defaultButtonId = $(this).attr("defaultbutton");
                $("#" + defaultButtonId).click();
                return false;
            }
        });
    });
</script>
<style type="text/css">
   
    .text_message {
        float: left;
        border: 1px solid;
        padding: 5px;
        width: 420px;
    }

    .message_main {
        float: left;
        height: 500px;
        margin: 10px;
        width: 700px;
    }

    .users_sub a {
        text-decoration: none;
        color: #18723d;
    }

   
    .users_main a:active {
        color: red !important;
        background: #f4f2d1;
    }

    .users_main {
        float: left;
        height: 480px;
        margin: 10px;
        border: 1px solid;
        width: 238px;
    }

    .users_main1 {
        float: left;
        height: 440px;
        overflow-y: scroll;
        width: 238px;
        background:#DDE6C3;
    }

    .users_sub {
        background: #9FBC4A;
        border-bottom:1px #00713D dotted; 
        color: #000;
        float: left;
        height: auto;
        padding: 7px;
        width: 222px;
        cursor: pointer;
    }
    
    .users_sub1 {
        background: none repeat scroll 0 0 #dde6c3;
        border: 1px solid #fff;
        color: #000;
        float: left;
        height: auto;
        padding: 7px;
        width: 204px;
    }


    .message_leftmain {
        float: right;
        height: 375px;
        width: 446px;
        overflow-y: auto;
    }

    .message-txt {
        float: left;
        margin: 7px;
        width: 432px;
        height: 88px;
    }

    .message1 {
        background: #9FBC4A;
        float: left;
        height: auto;
        margin: 5px;
        overflow-y: auto;
        padding: 5px;
        width: 406px;
    }

    .message2 {
        background: none repeat scroll 0 0 #c7d5db;
        float: left;
        height: auto;
        margin: 5px;
        overflow-y: auto;
        padding: 10px;
        width: 485px;
    }
    .message1_unread {
        background: none repeat scroll 0 0 #00af5c;
        float: left;
        height: auto;
        margin: 5px;
        overflow-y: auto;
        padding: 5px;
        width: 423px;
    }
    
    .alert-danger {
        background-color: #f2dede;
        border-color: #ebccd1;
        color: #a94442;
        float: left;
        margin-left: 20px;
        margin-top: 320px;
        padding: 10px;
        position: absolute;
        text-align: center;
        width: 461px;
    }

    .panel-danger {
        margin-left: 50px !important;
        margin-top: -90px !important;
    }
    .SelectedUser {
        background:#fff !important;
    }
</style>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@Html.Partial("loginmenus")
<div class="right-db">
    <div class="full">
        <h1>
            @BeeKeepersBusiness.Resource.MyMessages
        </h1>
    </div>
    <div class="clear"></div>
    <div class="full">
        <div class="users_main">
            <div class="users_sub1" style="text-align: center; width: 222px; border-bottom: 2px solid;">
                 @BeeKeepersBusiness.Resource.UsersList
                <a href="@Url.Action("index","UserMessage")"><img src="~/Images/refresh_icon.png" title="Refresh Messages" style="float:right;cursor:pointer" /></a>
            </div>
            <div class="users_main1 divscroll">
                @Html.Action("UserList", "UserMessage")
            </div>
        </div>
        <div class="message_left">
            @*@using (Html.BeginForm("SendMessage", "UserMessage"))*@


            @using (Ajax.BeginForm("SendMessage", "UserMessage", new AjaxOptions { UpdateTargetId = "partialSummaryDiv" }, new { defaultbutton = "SubmitButton", id = "MainForm" }))
            {
                <div class="message_leftmain" id="partialSummaryDiv" style="float:left;">
                </div>
                <div class="message-txt" id="div_message-txt">
                    @Html.Partial("ValidationSummary", ViewData.ModelState)
                    @Html.TextAreaFor(Model => Model.txtMessage, 3, 60, new { @class = "text_message", @placeholder = @BeeKeepersBusiness.Resource.Typeyourmessagehere })

                    @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value == "hi")
                    {
                        <input type="image" src="~/Images/send_BTN_hi.png" style="float: right; height: 38px;" id="SubmitButton" />
                    }
                    else if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value == "mr")
                    {
                        <input type="image" src="~/Images/send_BTN_mr.png" style="float: right; height: 38px;" id="SubmitButton" />
                    }
                    else
                    {
                        <input type="image" src="~/Images/send_BTN_en.png" style="float: right; height: 38px;" id="SubmitButton" />
                    }

                </div>
            }
        </div>
    </div>

</div>

@section Scripts {
    @Styles.Render("~/Content/themes/base/css")

    <script type="text/javascript">
        $('.users_sub').click(function () {
            var id = this.id;
            $('#' + id).removeAttr("style");
            var userid = id.split('_')[1];
            $('#partialSummaryDiv').html('<div style="margin: 100px auto; width: 150px; white-space: nowrap; height: 112px;text-align: center; z-index: 1000;"><table border="0" style="text-align: center;"><tr><td align="left"><img src="@System.Configuration.ConfigurationManager.AppSettings["siteurl"].ToString()/Images/loading.gif" /></td></tr></table></div>');
            $.ajax({
                url: '@Url.Action("PVUserMessage", "UserMessage")',
                data: { id: userid },
                cache: false,
                type: "POST",
                success: function (data) {
                    if (data == null) {
                        window.parent.location = "userlogin/login"
                    }
                    else {
                        $('#partialSummaryDiv').html(data);
                    }
                },
                error: function (reponse) {
                    alert("error : " + JSON.stringify("@Html.Raw(@BeeKeepersBusiness.Resource.ThereisaproblemPleasetryagainlater)"));
                }
            });

        });
    </script>
}


