﻿@model IEnumerable<BeeKeepersDataBase.sp_GetAdminMessages_Result>
<style type="text/css">
    .maintimego {
        font-size: 12px; color: rgb(97, 73, 47); float: left; margin-left: 10px; margin-top: 2px;
    }
</style>
<script src="~/Scripts/jquery.timeago.js" type="text/javascript"></script>
<script src="~/Scripts/test_helpers.js" type="text/javascript"></script>

   
<script type="text/javascript">
    $('.users_sub').each(function () {
        $(this).removeClass("SelectedUser");
    });
    $("#admin_0").attr("class", "users_sub SelectedUser");

    jQuery(document).ready(function ($) {
        prepareDynamicDates();
        $("label.timeago").timeago();
        document.getElementById("div_message-txt").style.display = "none";
        document.getElementById("partialSummaryDiv").style.height = "491px";
    });
</script>
<div style="float:left;height:488px !important;overflow-y:auto;" id="div_messages" class="divscroll">
    <input type="hidden" id="hdnServerDateTime" value="@ViewBag.ServerDateTime -0400" />
@foreach (var item in Model)
{
    if (item.status == 1)
    {
        <div class="message1"  style="background:#DDE6C3">
            <div style="float:left;width:100%">
                <div  class="maintimego"><label class="timeago" title="@item.addedon.ToString("MM/dd/yyyy hh:mm:ss tt zzz", new System.Globalization.CultureInfo("en-US"))" /></div>
            </div>
            <div style="float:left;">@item.message</div>
        </div>
    }
    else
    {
         <div class="message1">
            <div style="float:left;width:100%">
                <div  class="maintimego"><label class="timeago" title="@item.addedon.ToString("MM/dd/yyyy hh:mm:ss tt zzz", new System.Globalization.CultureInfo("en-US"))" /></div>
            </div>
            <div style="float:left;">@item.message</div>
        </div>
    }
    
    
}
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var objDiv = document.getElementById("div_messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    });
</script>