﻿@model IEnumerable<BeeKeepersDataBase.sp_getMessages_Result>
<style type="text/css">
    .maintimego {
        font-size: 12px; color: rgb(97, 73, 47); float: left; margin-left: 10px; margin-top: 2px;
    }
</style>
<script src="~/Scripts/jquery.timeago.js" type="text/javascript"></script>
<script src="~/Scripts/test_helpers.js" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        prepareDynamicDates();
        $("label.timeago").timeago();
        document.getElementById("div_message-txt").style.display = "block";
        document.getElementById("partialSummaryDiv").style.height = "375px";
    });
</script>
@if (Model.FirstOrDefault() != null)
{
    <script type="text/javascript">
        $('.users_sub').each(function () {
            $(this).removeClass("SelectedUser");
        });
        $("#user_"+@ViewBag.touserid.ToString()).attr("class","users_sub SelectedUser");
    </script> 
}
<input type="hidden" id="hdntouserid" name="hdntouserid" value="@ViewBag.touserid" />
<div id="message">
    @if (@ViewBag.status != null && @ViewBag.status == "1")
    {
        <div class="alert alert-success" role="alert">@ViewBag.message</div> 
        <script type="text/javascript">
            $("#pageloaddiv").fadeOut(1000);
            $("#txtMessage").val("");
            window.setTimeout(function () { $('#message').fadeOut(1000); }, 2000);
        </script>
    }
    else if (@ViewBag.status != null && @ViewBag.status == "0")
    { 
        <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
        <script type="text/javascript">
            $("#pageloaddiv").fadeOut(1000);
            window.setTimeout(function () { $('#message').fadeOut(1000); }, 2000);
        </script>
    }
</div>

<div style="float:left;height:375px !important;overflow-y:auto;" id="div_messages" class="divscroll">
<input type="hidden" id="hdnServerDateTime" value="@ViewBag.ServerDateTime -0400" />
@foreach (var item in Model)
{
    //string classname = "";
    //if (@item.status.ToString() == "1" && @item.touserid == @BeekeepersWeb.UserSession.UserId)
    //{
    //    classname = "message1_unread"; @classname
    //}
    string image = "";
      if (item.usertype == 1)
      {
          image = System.Configuration.ConfigurationManager.AppSettings["siteurl"].ToString() + "/Images/bee.png";
      }
      else if (item.usertype == 2)
      {
          image = System.Configuration.ConfigurationManager.AppSettings["siteurl"].ToString() + "/Images/farmer.png";
      }
      else
      {
          image = System.Configuration.ConfigurationManager.AppSettings["siteurl"].ToString() + "/Images/tractor.png";
      }
      if (item.status == 1 & BeekeepersWeb.UserSession.UserId != item.fromuserid)
      {
        <div class="message1" style="background:#DDE6C3">
            <div style="float:left;width:100%">
                <div style="float:left;"><img src="@image" /></div>
                <div  class="maintimego"><label class="timeago" title="@item.addedon.ToString("MM/dd/yyyy hh:mm:ss tt zzz", new System.Globalization.CultureInfo("en-US"))" /></div><br />
            </div>
            <div style="float:left;">@item.body</div>
        </div>
      }
      else 
      {
          <div class="message1">
            <div style="float:left;width:100%">
                <div style="float:left;"><img src="@image" /></div>
                <div  class="maintimego"><label class="timeago" title="@item.addedon.ToString("MM/dd/yyyy hh:mm:ss tt zzz", new System.Globalization.CultureInfo("en-US"))" /></div><br />
            </div>
            <div style="float:left;">@item.body</div>
        </div>
      }
    
}
 </div>
<script type="text/javascript">
    $(document).ready(function () {
        var objDiv = document.getElementById("div_messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    });
</script>

