﻿@model IEnumerable<BeeKeepersBusiness.GetInboxUserResponse>
@foreach (var item in Model)
{
    if (item.userId == 0)
    {
        if (item.status == 1)
        {
            <div class="users_sub" id="admin_0" style="background:#DDE6C3;">
                @*@Ajax.ActionLink(@item.username, "PVUserMessage", "UserMessage", new { id = item.userid }, new AjaxOptions { UpdateTargetId = "partialSummaryDiv" }, new { @id="user_"+item.userid.ToString(),@class="userlist"})*@
                <div class="userlist">
                    <div style="float: left;">@BeeKeepersBusiness.Resource.Admin</div>
                    @* <div class="unread_counter" id="divCounter_0">
                           @ViewBag.AdminCounter.ToString()
                       </div>*@
                </div>
            </div>
        }
        else
        {
            <div class="users_sub" id="admin_0">
                @*@Ajax.ActionLink(@item.username, "PVUserMessage", "UserMessage", new { id = item.userid }, new AjaxOptions { UpdateTargetId = "partialSummaryDiv" }, new { @id="user_"+item.userid.ToString(),@class="userlist"})*@
                <div class="userlist">
                    <div style="float: left;">@BeeKeepersBusiness.Resource.Admin</div>
                    @* <div class="unread_counter" id="divCounter_0">
                           @ViewBag.AdminCounter.ToString()
                       </div>*@
                </div>
            </div> 
        }
    }
    else
    {
        if (item.status == 1)
        {
            <div class="users_sub" id="user_@item.userId.ToString()" style="background:#DDE6C3;">
                <div class="userlist">
                    <div style="float: left;">@item.userName</div>
                </div>
            </div>
        }
        else
        {
            <div class="users_sub" id="user_@item.userId.ToString()">
                <div class="userlist">
                    <div style="float: left;">@item.userName</div>
                </div>
            </div>
        }
    }
    
    
@*@Ajax.ActionLink(@item.username, "PVUserMessage", "UserMessage", new { id = item.userid }, new AjaxOptions { UpdateTargetId = "partialSummaryDiv" }, new { @id="user_"+item.userid.ToString(),@class="userlist"})*@
@*<div class="unread_counter"  id="divCounter_@item.userid">@item.unreadcount.ToString()</div>*@
    
}
