﻿@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {margin:0px; padding:0px; background:url(../images/main-bg.jpg) no-repeat top center #c27c11; font-family:'open_sansregular', Arial, Helvetica, sans-serif;}
.full {width:100%; float:left;}
.md-align {vertical-align:middle;}

.shade1 {color:#FFF;}
.shade1 a {color:#FFF; text-decoration:none;}
.shade1 a:hover {color:#FFF; text-decoration:underline;}

.shade2 {color:#952323;}
.shade2 a {color:#952323; text-decoration:none;}
.shade2 a:hover {color:#952323; text-decoration:underline;}

#wrapper {width:1004px; float:none; margin:0px auto;;}

input.search {margin:1px 0px 0px 5px; padding:0px 0px 0px 5px; width:225px; height:34px; line-height:34px; font-size:12px; color:#999; border:none;}

h6 {margin:0px; padding:0px 0px 0px 0px; font-size:15px; font-style:italic; color:#1f3706; line-height:21px; font-weight:normal;}




/* Header Css Starts Here */
#header {width:100%; float:left; height:75px;}

ul.nav {margin:0px; padding:0px 0px 0px 120px;}
ul.nav li {list-style-type:none; float:left; display:block; font-size:38px; font-family:'open_sansregular', Arial, Helvetica, sans-serif; line-height:75px; color:#FFF;}
ul.nav li span {background:url(../images/nav-seperator.png) no-repeat left top; display:block; padding:0px 30px 0px 0px;}
ul.nav li span span {background:none; color:#cdc117; display:inline; padding:0px 0px 0px 30px;}
ul.nav li a {font-size:17px; color:#FFF; text-decoration:none; display:block; background:url(../images/nav-seperator.png) no-repeat left top; padding:0px 30px 0px 30px;}
ul.nav li a:hover {color:#cdc117; text-decoration:none; display:block;}
ul.nav li a span {background:url(../images/nav-seperator.png) no-repeat right top; padding:0px 30px 0px 0px;}


/* Header Css Ends Here */




/* Content Css Starts Here */
#container {width:100%; float:left;}
.logo {width:159px; float:left; padding:14px 24px 0px 10px;}
.left-sec {width:811px; float:left;}
.searchsec {width:276px; float:right; background:url(../images/search-bg.png) no-repeat left top; height:37px; margin-top:13px; margin-right:10px;}
.search-col1 {width:240px; float:left;}
.search-col2 {width:36px; float:left;}
.registersec {width:auto; height:47px; float:right; background: #103a08; /* Old browsers */
background: -moz-linear-gradient(top,  #103a08 0%, #133a0b 0%, #042800 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#103a08), color-stop(0%,#133a0b), color-stop(100%,#042800)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #103a08 0%,#133a0b 0%,#042800 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #103a08 0%,#133a0b 0%,#042800 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #103a08 0%,#133a0b 0%,#042800 100%); /* IE10+ */
background: linear-gradient(to bottom,  #103a08 0%,#133a0b 0%,#042800 100%); /* W3C */
border-radius:0 0 5px 5px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#103a08', endColorstr='#042800',GradientType=0 ); /* IE6-9 */
 margin-top:2px; line-height:47px; font-size:13px; padding:0 20px; margin-right:20px;}
.bannersec {width:776px; float:left; height:394px; background:url(../images/banner-img.png) no-repeat 0px 0px; margin:30px 0px 60px 0px;}
.content-col1 {width:218px; float:left; font-size:17px; color:#000; line-height:15px; padding:0px 0px 0px 40px;} 
.content-col1 span {font-size:14px; line-height:26px;} 
.content-col1 span span {font-size:20px; text-transform:uppercase; color:#FFF; line-height:15px;}
.content-col1 span span span {font-size:12px; color:#952323; text-transform:none; line-height:10px;}

.content-col2 {width:238px; float:left; font-size:17px; color:#000; line-height:15px; padding:0px 0px 0px 20px;} 
.content-col2 span {font-size:14px; line-height:26px;} 
.content-col2 span span {font-size:20px; text-transform:uppercase; color:#9b9102; line-height:15px;}
.content-col2 span span span {font-size:12px; color:#952323; text-transform:none; line-height:10px;}

.content-col3 {width:248px; float:left; font-size:17px; color:#000; line-height:15px; padding:0px 0px 0px 10px;} 
.content-col3 span {font-size:14px; line-height:26px;} 
.content-col3 span span {font-size:20px; text-transform:uppercase; color:#765100; line-height:15px;}
.content-col3 span span span {font-size:12px; color:#952323; text-transform:none; line-height:10px;} 
/* Content Css Ends Here */




/* Footer Css Starts Here */
#footer {width:100%; float:left; background:url(../images/footer-bg.png) no-repeat top center; height:260px;}
.main-footer {width:964px; float:none; margin:0px auto;}
.upper-footer {width:964px; float:left; height:171px;}
.left-footer {width:330px; float:left; margin-top:50px;}
.mid-footer {width:220px; float:left; margin-top:36px;}
.right-footer {width:394px; float:left; margin-top:36px; font-size:12px;}
.footer-col1 {width:260px; float:left; margin-top:10px; line-height:18px;}
.footer-col2 {width:134px; float:left; margin-top:6px; line-height:28px;}
.lower-footer {width:964px; float:left; height:89px; line-height:89px; font-size:12px;}
.footer-lt {width:50%; float:left;}
.footer-rt {width:50%; float:left; text-align:right;}

ul.footer-link {margin:0px; padding:5px 0px 0px 0px;}
ul.footer-link li {list-style-type:none; font-size:12px; line-height:21px;}
ul.footer-link li a {color:#fff; text-decoration:none;}
ul.footer-link li a:hover {color:#fff; text-decoration:underline;}
/* Footer Css Ends Here */

/* login page */
.right_col {width:776px; float:left; background:url(../images/right_bg.png) no-repeat top center; margin:30px 0px 0px 0px; border-radius:5px;}
.clear{
	clear:both;
	float:none;
}

.heading {
	float: left;
	font-size: 21px;
	font-style: italic;
	color: #59753a;
	font-weight: normal;
	width: 94%;
	padding-top: 15px;
	border-bottom: 1px solid #c2d9a8;
	margin: 0px 23px 0px 23px;
}
.heading i {
	float: left;
	margin-right: 5px;
	position: relative;
	bottom: 2px;
}
.login_bg {
	background: url("../images/login_formbg.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    border-radius: 5px;
    height: 285px;
    margin: 31px 0 44px 112px;
    width: 550px;
}
.lock {
	width: 115px;
	float: left;
	margin: 50px 23px;
}
.login_form {
	float: right;
	width: 370px;
	padding-top: 20px;
	float: left;
	font-size:13px;
}
.login_form input {
	float: right;
	width: 320px;
	border-radius: 5px;
	padding: 15px;
	border: 1px solid #c2d9a8;
	margin: 10px 0px;
	background: #fff;
	float: left;
	font-size:13px;
	color:#a5a5a5;
}
.login_form .check_box {
	float: left;
	width: 20px;
	position: relative;
	bottom: -3px;
	margin: 0px;
}
.forgot_text {
	color: #952323;
    float: left;
    font-size: 12px;
    margin: 0;
	padding:0px;
}
.forgot_text li {
	float: left;
	margin: 5px;
	text-decoration: none;
	overflow: hidden;
}
.forgot_text li a {
	text-decoration: none;
	color:#952323;
}
.btn {
	width: 100%;
}
.btn a {
	margin: 0 5px;
}
.box_shadow {
	bottom: 12px;
	float: right;
	margin: auto 124px auto auto;
	position: relative;
}

.Register_bg{
	background:url(../images/register_formbg.png) no-repeat top center;
	border-radius: 5px;
	width: 729px;
	padding:10px;
	height:342px;
	margin:10px 0px 10px 20px;

}

.form_left{
	float:left;
	width:45%;
	margin:5px;
}
.form_left input{	
	width: 290px;
	border-radius: 5px;
	padding: 15px;
	color:#000;
	border: 1px solid #c2d9a8;
	margin: 5px 0px 0px 22px;
	background:#fff;
	float: left;
	opacity:none;
}
.form_right{
	float:left;
	width:45%;
	margin:5px;
}
.form_right input{	
	width: 320px;
	border-radius: 5px;
	padding: 15px;
	color:#000;
	border: 1px solid #c2d9a8;
	margin: 5px 0px 0px 22px;
	background:#fff;
	float: left;
	opacity:none;
}

.right_col02 {width:800px; height:550px; padding-bottom:20px; float:left;  background:#fff; opacity:0.9; margin:30px 0px 28px 0px; border-radius:5px;}
.Register_bottom{
	background: url("..//images/bottom_img.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0 0 5px 5px;
    margin:0px 0px 28px 5px;
    padding: 10px 0 10px 282px;
    width: 510px;
	
}
.left_img{
	float:left;
	margin:10px;
	background:#cdc117;
}
.left_img img{
	margin:5px 5px 0px 5px;
}
.paragraph{
	font-size:13px;
	color:#4d4d4d;
	margin:13px;
	text-align:left;
}
.about_text{
	font-size:13px;
	font-style:italic;
	color:#00703c;
	line-height:30px;
	font-weight:600;
}
.about_text i{
	position:relative;
	top:5px;
	margin-left:10px;
}

/*  custome css*/
.Register_bg{
	 background: none repeat scroll 0 0 #dcccb1;
    border-radius: 5px;
    height: 470px;
    margin: 10px 0 10px 20px;
    padding: 10px;
    width: 729px;
}


#map-canvas {
    min-width:200px;
    width: auto;
    height: 257px;
    border: 1px solid #777777;
    border-radius: 5px;
}
#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}
    #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px; /* Regular padding-left + 1. */
        width: 401px;
    }
.pac-container {
    font-family: Roboto;
}
.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}
.validation-summary-valid {
    display:none;
}
    
.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-body {
  padding: 15px;
}

.panel-body:before,
.panel-body:after {
  display: table;
  content: " ";
}

.panel-body:after {
  clear: both;
}

.panel-body:before,
.panel-body:after {
  display: table;
  content: " ";
}

.panel-body:after {
  clear: both;
}

.panel > .list-group {
  margin-bottom: 0;
}

.panel > .list-group .list-group-item {
  border-width: 1px 0;
}

.panel > .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel > .list-group .list-group-item:last-child {
  border-bottom: 0;
}

.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}

.panel > .table {
  margin-bottom: 0;
}

.panel > .panel-body + .table {
  border-top: 1px solid #dddddd;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.panel-title > a {
  color: inherit;
}

.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel-group .panel {
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 4px;
}

.panel-group .panel + .panel {
  margin-top: 5px;
}

.panel-group .panel-heading {
  border-bottom: 0;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 1px solid #dddddd;
}

.panel-group .panel-footer {
  border-top: 0;
}

.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #dddddd;
}

.panel-default {
  border-color: #dddddd;
}

.panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #dddddd;
}

.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #dddddd;
}

.panel-primary {
  border-color: #428bca;
}

.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #428bca;
}

.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #428bca;
}

.panel-success {
  border-color: #d6e9c6;
}

.panel-success > .panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.panel-success > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #d6e9c6;
}

.panel-success > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #d6e9c6;
}

.panel-warning {
  border-color: #fbeed5;
}

.panel-warning > .panel-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.panel-warning > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #fbeed5;
}

.panel-warning > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #fbeed5;
}

.panel-danger {
  border-color: #eed3d7;
}

.panel-danger > .panel-heading {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.panel-danger > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #eed3d7;
}

.panel-danger > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #eed3d7;
}

.panel-info {
  border-color: #bce8f1;
}

.panel-info > .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.panel-info > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #bce8f1;
}

.panel-info > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #bce8f1;
}

.alert-success {
  background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    margin-left: 200px;
    margin-top: 170px;
    padding: 27px;
    position: absolute;
    text-align: center;
    width: auto;
    z-index:1000;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #356635;
}
/*************************************/