﻿
@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
    background: url(../images/pattern.png) repeat 0px 0px;
}

#main-wrapper {
    width: 100%;
    height: 100%;
    background: url(../images/main-bg.jpg) no-repeat top center;
}

.full {
    width: 100%;
    float: left;
}

.md-align {
    vertical-align: middle;
}

.shade1 {
    color: #FFF;
}

    .shade1 a {
        color: #FFF;
        text-decoration: none;
    }

        .shade1 a:hover {
            color: #FFF;
            text-decoration: underline;
        }

.shade2 {
    color: #952323;
}

    .shade2 a {
        color: #952323;
        text-decoration: none;
    }

        .shade2 a:hover {
            color: #952323;
            text-decoration: underline;
        }

#wrapper {
    width: 1004px;
    float: none;
    margin: 0px auto;
    overflow: auto;
}

input.search {
    margin: 1px 0px 0px 5px;
    padding: 0px 0px 0px 5px;
    width: 225px;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    color: #999;
    border: none;
}

h6 {
    margin: 0px;
    padding: 0px 0px 10px 0px;
    font-size: 15px;
    font-style: italic;
    color: #1f3706;
    line-height: 21px;
    font-weight: normal;
}




/* Header Css Starts Here */
#header {
    width: 100%;
    float: left;
    height: 104px;
}

ul.nav {
    margin: 30px 17px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: right;
}

    ul.nav li {
        list-style-type: none;
        float: left;
        display: block;
        font-size: 38px;
        font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
        line-height: 75px;
        color: #FFF;
    }

        ul.nav li a {
            font-size: 15px;
            color: #FFF;
            text-decoration: none;
            display: block;
            padding: 0px 10px 0px 10px;
            line-height: 45px;
            height: 45px;
            margin-right: 5px;
        }

            ul.nav li a:hover, ul.nav li a.active {
                color: #00703c;
                text-decoration: none;
                display: block;
                background: #FFF;
                border-radius: 5px;
                height: 45px;
            }


/* Header Css Ends Here */




/* Content Css Starts Here */
#container {
    width: 100%;
    float: left;
}

.logo {
    width: 159px;
    float: left;
    padding: 0px 24px 0px 10px;
}

.left-sec {
    width: 100%;
    float: left;
}

.searchsec {
    width: 276px;
    float: right;
    background: url(../images/search-bg.png) no-repeat left top;
    height: 37px;
    margin-top: 13px;
    margin-right: 10px;
}

.search-col1 {
    width: 240px;
    float: left;
}

.search-col2 {
    width: 36px;
    float: left;
}

.registersec {
    background: none repeat scroll 0 0 #0b4b00;
    border-radius: 0 0 5px 5px;
    float: right;
    font-size: 13px;
    height: 47px;
    line-height: 47px;
    margin-right: 20px;
    margin-top: 2px;
    padding: 0 15px;
    width: auto;
}

.bannersec {
    width: 776px;
    float: none;
    margin: 82px auto 60px auto;
    height: 394px;
    background: url(../images/banner-img.png) no-repeat 0px 0px;
}

.content-col1 {
    width: 218px;
    float: left;
    font-size: 20px;
    color: #000;
    line-height: 15px;
    padding: 0px 0px 0px 40px;
    text-transform: uppercase;
}

    .content-col1 span {
        font-size: 11px;
        line-height: 26px;
        text-transform: none;
    }

.content-col2 {
    width: 238px;
    float: left;
    font-size: 20px;
    color: #000;
    line-height: 15px;
    padding: 0px 0px 0px 20px;
    text-transform: uppercase;
}

    .content-col2 span {
        font-size: 11px;
        line-height: 26px;
        text-transform: none;
    }

.content-col3 {
    width: 248px;
    float: left;
    font-size: 20px;
    color: #000;
    line-height: 15px;
    padding: 0px 0px 0px 10px;
    text-transform: uppercase;
}

    .content-col3 span {
        font-size: 11px;
        line-height: 26px;
        text-transform: none;
    }
/* Content Css Ends Here */




/* Footer Css Starts Here */
#footer {
    width: 100%;
    float: left;
    background: url(../images/footer-bg.png) no-repeat top center;
    height: 260px;
    margin-top:-7px;
}

.main-footer {
    width: 964px;
    float: none;
    margin: 0px auto;
}

.upper-footer {
    width: 964px;
    float: left;
    height: 171px;
}

.left-footer {
    width: 300px;
    float: left;
    margin-top: 50px;
}

.mid-footer {
    width: 400px;
    float: left;
    margin-top: 26px;
}

.right-footer {
    width: 263px;
    float: left;
    margin-top: 26px;
    font-size: 12px;
}

.footer-col1 {
    width: 260px;
    float: left;
    margin-top: 10px;
    line-height: 18px;
}

.footer-col2 {
    width: 134px;
    float: left;
    margin-top: 6px;
    line-height: 28px;
}

.lower-footer {
    width: 964px;
    float: left;
    height: 89px;
    line-height: 89px;
    font-size: 12px;
}

.footer-lt {
    width: 50%;
    float: left;
}

.footer-rt {
    width: 50%;
    float: left;
    text-align: right;
}

ul.footer-link {
    margin: 0px;
    padding: 5px 0px 0px 0px;
}

    ul.footer-link li {
        list-style-type: none;
        font-size: 12px;
        line-height: 21px;
    }

        ul.footer-link li a {
            color: #fff;
            text-decoration: none;
        }

            ul.footer-link li a:hover {
                color: #fff;
                text-decoration: underline;
            }
/* Footer Css Ends Here */

/* login page */
.right_col {
    width: 800px;
    float: none;
    margin: 66px auto 15px auto;
    background: url(../images/right_bg.png) no-repeat top center;
    height: 455px;
    border-radius: 5px;
}

.clear {
    clear: both;
    float: none;
}

.heading {
    float: left;
    font-size: 21px;
    font-style: italic;
    color: #59753a;
    font-weight: normal;
    width: 94%;
    padding-top: 15px;
    border-bottom: 1px solid #c2d9a8;
    margin: 0px 23px 0px 23px;
}

    .heading i {
        float: left;
        margin-right: 5px;
        position: relative;
        bottom: 2px;
    }

.login_bg {
    background: url("../images/login_formbg.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    border-radius: 5px;
    height: 285px;
    margin: 31px 0 44px 70px;
    width: 550px;
}

.lock {
    width: 115px;
    float: left;
    margin: 50px 23px;
}

.login_form {
    float: right;
    width: 370px;
    padding-top: 20px;
    float: left;
    font-size: 13px;
}

    .login_form input {
        float: right;
        width: 320px;
        border-radius: 5px;
        padding: 15px;
        border: 1px solid #c2d9a8;
        margin: 10px 0px;
        background: #fff;
        float: left;
        font-size: 13px;
        color: #000;
    }

    .login_form .check_box {
        float: left;
        width: 20px;
        position: relative;
        bottom: -3px;
        margin: 0px;
    }

.forgot_text {
    color: #952323;
    float: left;
    font-size: 12px;
    margin: 0;
    padding: 0px;
}

    .forgot_text li {
        float: left;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 0px !important;
    margin-right: 3px !important;
    text-decoration: none;
    overflow: hidden;
    }

        .forgot_text li a {
            text-decoration: none;
            color: #952323;
        }

.btn {
    width: 100%;
}

    .btn a {
        margin: 0 5px;
    }

.box_shadow {
    bottom: 12px;
    float: right;
    margin: auto 124px auto auto;
    position: relative;
}

.Register_bg {
    background: url(../images/register_formbg.png) no-repeat top center;
    border-radius: 5px;
    width: 729px;
    padding: 10px;
    height: 342px;
    margin: 10px 0px 10px 20px;
}

.form_left {
    float: left;
    width: 50%;
    margin: 5px 5px 5px -13px;
}

    .form_left input {
        width: 290px;
        border-radius: 5px;
        padding: 15px;
        color: #000;
        border: 1px solid #c2d9a8;
        margin: 5px 0px 0px 22px;
        background: #fff;
        float: left;
        opacity: none;
    }
.contacttextarea {
        width:575px;
        border-radius: 5px;
        padding: 15px;
        color: #000;
        border: 1px solid #c2d9a8;
        margin: 5px 0px 0px 22px;
        background: #fff;
        float: left;
        opacity: none;
        font-family:'open_sansregular', Arial, Helvetica, sans-serif;
        font-size:13px;
    }

.form_right {
    float: left;
    width: 45%;
    margin: 5px;
}
.form_center {
    float: left;
    width: 45%;
    margin-left:200px;
}
.form_center input {
        width: 320px;
        border-radius: 5px;
        padding: 15px;
        color: #a5a5a5;
        border: 1px solid #c2d9a8;
        margin: 5px 0px 0px 22px;
        background: #fff;
        float: left;
        opacity: none;
    }
    .form_right input {
        width: 320px;
        border-radius: 5px;
        padding: 15px;
        color: #a5a5a5;
        border: 1px solid #c2d9a8;
        margin: 5px 0px 0px 22px;
        background: #fff;
        float: left;
        opacity: none;
    }

 

.right_col01 {
    width: 800px;
    float: none;
    margin: 66px auto 15px auto;
    background: url(../images/right_bg.png) no-repeat top center;
    border-radius: 5px;
}

.right_col02 {
    width: 800px;
    float: none;
    margin: 66px auto 15px auto;
    background: #fff;
    opacity: 0.97;
    border-radius: 5px;
    padding-bottom: 10px;
    min-height:300px !important; 
}

.Register_bottom {
    background: url("..//images/bottom_img.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0 0 5px 5px;
    margin: 0px 0px 28px 5px;
    padding: 10px 0 10px 282px;
    width: 510px;
}

.left_img {
    float: left;
    margin: 10px;
    background: #cdc117;
}

    .left_img img {
        margin: 5px 5px 0px 5px;
    }

.paragraph {
    font-size: 13px;
    color: #4d4d4d;
    margin: 13px;
    text-align: left;
}

.about_text {
    font-size: 13px;
    font-style: italic;
    color: #00703c;
    line-height: 30px;
    font-weight: 600;
}

    .about_text i {
        position: relative;
        top: 5px;
        margin-left: 10px;
    }

    /* Dashboard Page */
.left-menu {width:220px; float:left; margin:15px 0px 20px 15px; background:#dde6c3; border-radius:5px;}
.right-db {width:710px; float:right; margin:15px 20px 20px 0px; background:#FFF; border-radius:5px; padding:20px 0px 20px 20px; background: rgba(255, 255, 255, .95); min-height:400px;}
	
.right-db h1 {float: left; font-size: 21px; font-style: italic; color: #59753a; font-weight: normal; width: 97%; border-bottom: 1px solid #c2d9a8; margin: 0px 0px 15px 0px;}
	
ul.lt-nav {margin:0px; padding:0px 0px 0px 0px;}
ul.lt-nav li {list-style-type:none; font-size:13px; color:#18723d; line-height:31px;}
ul.lt-nav li a {color:#18723d; display:block; text-decoration:none; background:url(../images/dotted-bg.jpg) repeat-x left bottom; height:50px; line-height:50px; padding:0px 0px 0px 5px;}
ul.lt-nav li a:hover {color:#18723d; display:block; text-decoration:none; background:url(../images/dotted-bg.jpg) repeat-x left bottom #fff;}

ul.lt-nav li a.first {color:#18723d; display:block; text-decoration:none; background:url(../images/dotted-bg.jpg) repeat-x left bottom; border-radius:5px 5px 0px 0px;}
ul.lt-nav li a.first:hover {display:block; text-decoration:none; background:url(../images/dotted-bg.jpg) repeat-x left bottom #fff;}

ul.lt-nav li a.last {color:#18723d; display:block; text-decoration:none; background:none; border-radius:0px 0px 5px 5px;}
ul.lt-nav li a.last:hover {display:block; text-decoration:none; background:#fff;}

.leftmenuactive {display:block !important; text-decoration:none !important; background:url(../images/dotted-bg.jpg) repeat-x left bottom #fff !important;}


/*custome css*/

.Register_bg {
    background: url("../images/register_formbg.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    border-radius: 5px;
    height: 342px;
    margin: 10px 0 10px 4px;
    padding: 10px;
    width: 660px;
}
.form_right input {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #c2d9a8;
    border-radius: 5px;
    color: #000;
    float: left;
    margin: 5px 0 0 22px;
    padding: 15px;
    width: 270px;
}
.Register_bottom {
    background: url("..//images/bottom_img.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0 0 5px 5px;
    margin: 0 0 28px 5px;
    padding: 10px 0 10px 282px;
    width: 398px;
}
#map-canvas {
    min-width: 200px;
    width: auto;
    height: 289px;
    border: 1px solid #777777;
    border-radius: 5px;
}

#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

    #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px; /* Regular padding-left + 1. */
        width: 401px;
    }

.pac-container {
    font-family: Roboto;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

.validation-summary-valid {
    display: none;
}

.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-body {
    padding: 15px;
}

    .panel-body:before,
    .panel-body:after {
        display: table;
        content: " ";
    }

    .panel-body:after {
        clear: both;
    }

    .panel-body:before,
    .panel-body:after {
        display: table;
        content: " ";
    }

    .panel-body:after {
        clear: both;
    }

.panel > .list-group {
    margin-bottom: 0;
}

    .panel > .list-group .list-group-item {
        border-width: 1px 0;
    }

        .panel > .list-group .list-group-item:first-child {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }

        .panel > .list-group .list-group-item:last-child {
            border-bottom: 0;
        }

.panel-heading + .list-group .list-group-item:first-child {
    border-top-width: 0;
}

.panel > .table {
    margin-bottom: 0;
}

.panel > .panel-body + .table {
    border-top: 1px solid #dddddd;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

    .panel-title > a {
        color: inherit;
    }

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-group .panel {
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 4px;
}

    .panel-group .panel + .panel {
        margin-top: 5px;
    }

.panel-group .panel-heading {
    border-bottom: 0;
}

    .panel-group .panel-heading + .panel-collapse .panel-body {
        border-top: 1px solid #dddddd;
    }

.panel-group .panel-footer {
    border-top: 0;
}

    .panel-group .panel-footer + .panel-collapse .panel-body {
        border-bottom: 1px solid #dddddd;
    }

.panel-default {
    border-color: #dddddd;
}

    .panel-default > .panel-heading {
        color: #333333;
        background-color: #f5f5f5;
        border-color: #dddddd;
    }

        .panel-default > .panel-heading + .panel-collapse .panel-body {
            border-top-color: #dddddd;
        }

    .panel-default > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #dddddd;
    }

.panel-primary {
    border-color: #428bca;
}

    .panel-primary > .panel-heading {
        color: #ffffff;
        background-color: #428bca;
        border-color: #428bca;
    }

        .panel-primary > .panel-heading + .panel-collapse .panel-body {
            border-top-color: #428bca;
        }

    .panel-primary > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #428bca;
    }

.panel-success {
    border-color: #d6e9c6;
}

    .panel-success > .panel-heading {
        color: #468847;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

        .panel-success > .panel-heading + .panel-collapse .panel-body {
            border-top-color: #d6e9c6;
        }

    .panel-success > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #d6e9c6;
    }

.panel-warning {
    border-color: #fbeed5;
}

    .panel-warning > .panel-heading {
        color: #c09853;
        background-color: #fcf8e3;
        border-color: #fbeed5;
    }

        .panel-warning > .panel-heading + .panel-collapse .panel-body {
            border-top-color: #fbeed5;
        }

    .panel-warning > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #fbeed5;
    }

.panel-danger {
    border-color: #eed3d7;
}

    .panel-danger > .panel-heading {
        color: #b94a48;
        background-color: #f2dede;
        border-color: #eed3d7;
    }

        .panel-danger > .panel-heading + .panel-collapse .panel-body {
            border-top-color: #eed3d7;
        }

    .panel-danger > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #eed3d7;
    }

.panel-info {
    border-color: #bce8f1;
}

    .panel-info > .panel-heading {
        color: #3a87ad;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }

        .panel-info > .panel-heading + .panel-collapse .panel-body {
            border-top-color: #bce8f1;
        }

    .panel-info > .panel-footer + .panel-collapse .panel-body {
        border-bottom-color: #bce8f1;
    }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    margin-left: 200px;
    margin-top: 170px;
    padding: 27px;
    position: absolute;
    text-align: center;
    width: auto;
    z-index: 1000;
}

    .alert-success hr {
        border-top-color: #c9e2b3;
    }

    .alert-success .alert-link {
        color: #356635;
    }
    .Register_bg-Contact {
    background: url("../images/register_formbg.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    border-radius: 5px;
    height: 342px;
    margin: 10px 0 10px 59px;
    padding: 10px;
    width: 660px;
}
.form_center_contact {
    float: left;
    width: 45%;
    margin-left:135px;
}
.form_center_contact input {
        width: 320px;
        border-radius: 5px;
        padding: 15px;
        color: #a5a5a5;
        border: 1px solid #c2d9a8;
        margin: 5px 0px 0px 22px;
        background: #fff;
        float: left;
        opacity: none;
    }
.form_left-map {
    float: left;
    width: 50%;
    margin: 5px 5px 5px 0px;
}
.right-db_nonlogin {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    float: none;
    margin: 10px auto 0;
    min-height: 400px;
    padding: 20px 0 20px 20px;
    width: 710px;
    margin-bottom:20px;
}
.right-db_nonlogin h1 {float: left; font-size: 21px; font-style: italic; color: #59753a; font-weight: normal; width: 97%; border-bottom: 1px solid #c2d9a8; margin: 0px 0px 15px 0px;}
.commonpages {
    float: left;
    height: 349px;
    margin-bottom: 20px;
    overflow: auto;
    padding: 10px;
    text-align: justify;
}
.right-db h1 {float: left; font-size: 21px; font-style: italic; color: #0B4B00; font-weight: normal; width: 97%; border-bottom: 1px solid #c2d9a8; margin: 0px 0px 15px 0px;}
/*************************************/
.Register_bottom input {
    margin-left:-60px;

}
.broadcasttextarea {
        background: none repeat scroll 0 0 #fff;
    border: 1px solid #c2d9a8;
    border-radius: 5px;
    color: #000;
    float: left;
    margin: 5px 1px 5px 11px;
    padding: 5px 12px;
    width: 639px;
    font-family:'open_sansregular', Arial, Helvetica, sans-serif;
    font-size:13px;
    }
.broadcasttextarea1 {
        background: none repeat scroll 0 0 #fff;
    border: 1px solid #c2d9a8;
    border-radius: 5px;
    color: #000;
    float: left;
    margin: 5px 1px 5px 11px;
    padding: 5px 12px;
    width: 627px;
    font-family:'open_sansregular', Arial, Helvetica, sans-serif;
    font-size:13px;
    }
.activitytextarea {
        width: 269px;
        border-radius: 5px;
        padding: 15px;
        color: #000;
        border: 1px solid #c2d9a8;
        margin: 5px 0px 0px 22px;
        background: #fff;
        float: left;
        opacity: none;
        font-family:'open_sansregular', Arial, Helvetica, sans-serif;
        font-size:13px;
    }

ul.tabs {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
        height: 32px;
        border-left: 1px solid #999999;
        width: 112%;
    }

        ul.tabs li {
            float: left;
            margin: 0;
            cursor: pointer;
            padding: 0 24px;
            height: 31px;
            line-height: 31px;
            border: 1px solid #999999;
            border-left: none;
            font-weight: bold;
            background: #EEEEEE;
            overflow: hidden;
            position: relative;
            padding: 0 18px !important;
        }

            ul.tabs li:hover {
                background: #CCCCCC;
            }

            ul.tabs li.active {
               background: none repeat scroll 0 0 #0b4b00;
                color: #fff;
            }

    .tab_container {
        clear: both;
        float: left;
        width: 98%;
        height: 258px;
    }

    .tab_content {
        padding: 5px;
        font-size: 1.2em;
        display: none;
        height:278px;
        overflow-y: auto;
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        ul.tabs li {

        padding: 0 18px !important;

        }   
    }
.unread_counter {
    float: right;color: #fff;font-size: 13px;border-radius:12px;background:#123456;
}
.unreadmsg {
        
        cursor:pointer;
    }
.unreadmsg div div {
    padding:0px 5px;
}