﻿@model IEnumerable<BeeKeepersDataBase.sp_propertylist_Result>

@{
    ViewBag.Title = @BeeKeepersBusiness.Resource.Property;
    Layout = "~/Areas/Manager/Views/Shared/_LayoutPage1.cshtml";
    WebGrid grid = new WebGrid(Model);
}
<style type="text/css">
    tfoot {
        display:none;
    }
    .table {
        margin-bottom:0px !important;
    }
    .tdactivityuser-property {
        width:200px;
    }
    .tdactivityuser {
        width:150px;
    }
    .tdactivitydate {
        width:200px;
    }
    .tdaction {
        width:50px;
        text-align:center !important;
    }
    .col-sm-6 {
        width:auto !important;
        padding-left:0px !important;
    }
    .input-group .form-control {
        width:250px !important;
    }
</style>
<link href="~/resources/css/bootstrap.min.css" rel="stylesheet" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js" integrity="sha256-FgiaQnQazF/QCrF9qSvpRY6PACn9ZF8VnlgqfqD1LsE=" crossorigin="anonymous"></script>

<div class="container innerpages">
<div class="gridview">
      <div id="message">
      @if (@ViewBag.status!=null && @ViewBag.status == "1")
      {
          <div class="alert alert-success" role="alert">@ViewBag.message</div> 
          <script type="text/javascript">
              window.setTimeout(function () { HideMessage(); }, 2000);
          </script>
      }
      else if (@ViewBag.status != null && @ViewBag.status == "0")
      { 
          <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
          <script type="text/javascript">
              window.setTimeout(function () { HideMessage(); }, 2000);
          </script>
      }
    </div>
       
       
    <h2 class="page-title">@BeeKeepersBusiness.Resource.PropertyList</h2>
   <div class="row">
       <div class="pull-right tablesearching" style="width:53%;">
                @using (Html.BeginForm("Index", "Properties", FormMethod.Post, null))
                {
                    <div class="col-sm-6">
                        @Html.DropDownList("username", (SelectList)ViewBag.users, @BeeKeepersBusiness.Resource.SelectUsers, new { @class = "form-control",style="width:170px !important;" })
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control" value="@ViewBag.propertyname" name="txtpropertyname" autocomplete="off" placeholder="@BeeKeepersBusiness.Resource.Searchbypropertyname">
                        </div>
                    </div>
                    
                    <div class="col-sm-6" style="width:50px !important;">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                }
            </div>
        <div class="col-md-9"> </div>
    </div>
    <div class="main-box-body clearfix">
      <div class="table-responsive">
               @grid.GetHtml(
               tableStyle: "table",

               columns: new[] {
                   grid.Column("propertyname",@BeeKeepersBusiness.Resource.PropertyName, canSort: false,style:"tdactivityuser-property"),
                    grid.Column("Username",@BeeKeepersBusiness.Resource.UserName, canSort: false,style:"tdactivityuser"),
                    grid.Column("firstname",@BeeKeepersBusiness.Resource.FirstName, canSort: false,style:"tdactivityuser"),
                    grid.Column("lastname",@BeeKeepersBusiness.Resource.LastName, canSort: false,style:"tdactivityuser"),
                    grid.Column("email",@BeeKeepersBusiness.Resource.Email, canSort: false,style:"tdactivityuser"),
                    grid.Column("addedon",@BeeKeepersBusiness.Resource.AddedOn, canSort: false,format: @<text>@item.addedon.ToString("dd/MMM/yyyy") </text>,style:"tdactivitydate"),
                   grid.Column(@BeeKeepersBusiness.Resource.Action, format: @<text>
                        <a class="table-link danger" href="@Url.Action("delete","Properties",new{@id=@item.id})" onclick="return confirm('@BeeKeepersBusiness.Resource.Areyousuretoremovethisproperty');">
                        <span class="fa-stack">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    </text>, canSort: false,style:"tdaction")
                    
                }

                )
            @if (Model.Count() > 0)
            {
                <div class="pagination pagination-small pagination-right">
                    @grid.PagerList(mode: WebGridPagerModes.All,firstText:@BeeKeepersBusiness.Resource.First,previousText:@BeeKeepersBusiness.Resource.Previous,nextText:@BeeKeepersBusiness.Resource.Next,lastText:@BeeKeepersBusiness.Resource.Last)
                </div>
            }
            
    
    </div>
  </div>
  <div class="clearfix"></div>
</div>
