﻿@model BeekeepersWeb.Models.ActivityModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on("keypress", 'form', function (e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                e.preventDefault();
                return false;
            }
        });
        $("#createactivity").addClass("leftmenuactive");
    });
</script>

@using (Html.BeginForm())
{
    <script src='https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAPAJCWKEzIL_kM-EBU9e-u0kMDffzoVwE&libraries=places&language=@Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value=="fr"?fr:en'></script>
    <script>
        function initialize() {
            var marker;
            var txtLat;
            var txtlong;
            var bool = true;


            txtLat = 56.130366;
            txtlong = -106.346771;
            bool = false;

            var myLatlng = new google.maps.LatLng(txtLat, txtlong);
            image = "";
            @if(BeekeepersWeb.UserSession.UserRole.ToString()=="1")
            {
                @:image = "http://beeconnected.ca/images/pin_beekeeper.png";
            }
            else if(BeekeepersWeb.UserSession.UserRole.ToString()=="2")
            {
                @:image = "http://beeconnected.ca/images/pin_contractor.png";
            }
            else
            {
                @:image = "http://beeconnected.ca/images/pin_contractor.png";
            }
            var mapOptions = {
                zoom: 4,
                center: myLatlng

            };
            var map = new google.maps.Map(document.getElementById('map-canvas'),
              mapOptions);
            if (bool) {
                marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: 'Nouvel emplacement',
                    icon: image
                });
            }

            google.maps.event.addListener(map, 'click', function (event) {

                document.getElementById("latitude").value = event.latLng.lat();
                document.getElementById("longitude").value = event.latLng.lng();
                marker.setMap(null);
                marker = new google.maps.Marker({
                    position: event.latLng,
                    map: map,
                    title: 'Nouvel emplacement',
                    icon: image
                });
            });

            var input = (
            document.getElementById('pac-input'));

            //var types = document.getElementById('type-selector');
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
            //map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.bindTo('bounds', map);

            var infowindow = new google.maps.InfoWindow();
            var marker = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29)
            });

            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);  // Why 17? Because it looks good.
                }
                marker.setIcon(({
                    url: image,
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34)
                }));
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);
                document.getElementById("latitude").value = place.geometry.location.lat();
                document.getElementById("longitude").value = place.geometry.location.lng();
            });

        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    @Html.Partial("loginmenus")
   
    <div class="right-db">
        <div class="full">
        <h1>@BeeKeepersBusiness.Resource.AddNewActivity</h1>
            </div>
             <div class="clear"></div>
        @Html.Partial("ValidationSummary", ViewData.ModelState)
        <div id="message">
            @if (@ViewBag.status != null && @ViewBag.status == "1")
            {
                <div class="alert alert-success" role="alert">@ViewBag.message</div> 
                <script type="text/javascript">
                    window.setTimeout(function () { HideMessage(); }, 2000);
                </script>
            }
            else if (@ViewBag.status != null && @ViewBag.status == "0")
            { 
                <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
                <script type="text/javascript">
                    window.setTimeout(function () { HideMessage(); }, 2000);
                </script>
            }
        </div>
         <div class="clear"></div>
        <div class="Register_bg">
            @Html.ValidationMessageFor(model => model.usertype)
            <div class="form_left-map">
                <input id="pac-input" class="controls" type="text"
                    placeholder="@BeeKeepersBusiness.Resource.Searchalocation">
                <div id="map-canvas"></div>
            </div>
            <div class="form_right" style="margin-left:-7px;">
                @Html.TextAreaFor(model => model.note, new {rows="2",cols="50", @placeholder =@BeeKeepersBusiness.Resource.Enternoteforactivity,@class="activitytextarea" })
                @Html.TextBoxFor(model => model.startdate, new {  @readonly = "true",@id = "datepicker", @placeholder =@BeeKeepersBusiness.Resource.Pleaseselectstartdate, @class = "mini_text", @maxlength = "100" })
                @Html.TextBoxFor(model => model.enddate, new { @readonly = "true", @placeholder =@BeeKeepersBusiness.Resource.Pleaseselectenddate, @class = "mini_text" })
                @Html.TextBoxFor(model => model.latitude, new { @readonly = "true", @placeholder =@BeeKeepersBusiness.Resource.Latitude })
                @Html.TextBoxFor(model => model.longitude, new { @readonly = "true", @placeholder = @BeeKeepersBusiness.Resource.Longitude})
            </div>
            <div class="clear"></div>
        </div>
        <div class="Register_bottom">
            
            @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value=="fr")
            {
                <input type="image" src="~/images/submit_BTN.png" />
                <a href="@Url.Action("cancel")"><img src="~/images/cancel_btn.png"></a>
            }
            else
            {
                <input type="image" src="~/images/submit_BTN_en.png" />
                <a href="@Url.Action("cancel")"><img src="~/images/cancel_btn_en.png"></a>
            }
            
        </div>
    </div>

    
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script type="text/javascript">
        $('#enddate').datepicker({
            dateFormat: 'dd-mm-yy',
            minDate: 0,
            maxDate:-1,
            onSelect: function () { },
            onClose: function () {
                $(this).focus();
            }
        });

        $('#datepicker').datepicker({
            dateFormat: 'dd-mm-yy',
            minDate: 0,
            onSelect: function (dateText, inst) {
                var dateParts = dateText.split("-");
                var nyd_start = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
                var nyd = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
                nyd.setDate(nyd.getDate() -1);
                @if (BeekeepersWeb.UserSession.UserRole.ToString() == "1")
                {
                    @Html.Raw("nyd.setMonth(nyd.getMonth() + 12);");
                } else {
                    @Html.Raw("nyd.setMonth(nyd.getMonth() + 2);");
                }
                $('#enddate').datepicker("option", {
minDate: new Date(nyd_start),
                    maxDate: nyd
                });
            },
            onClose: function () {
                $(this).focus();
            }
        });
    </script>


}
