﻿@model BeekeepersWeb.Models.ActivityModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAPAJCWKEzIL_kM-EBU9e-u0kMDffzoVwE&libraries=places"></script>
    
    if (Model != null)
    { 
        <script>
            $(document).ready(function () {
                $(document).on("keypress", 'form', function (e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        e.preventDefault();
                        return false;
                    }
                });
            });
            function initialize() {
                var marker;
                var markerold;
                var txtLat;
                var txtlong;
                var bool = true;


                txtLat = @Model.latitude;
            txtlong = @Model.longitude;
            bool = true;

            var myLatlng = new google.maps.LatLng(txtLat, txtlong);
            var mapOptions = {
                zoom: bool ? 16 : 13,
                center: myLatlng

            };
            var map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
            image="";
            @if (BeekeepersWeb.UserSession.UserRole.ToString() == "1")
            {
                @:image = "http://beeconnected.ca/images/pin_beekeeper.png";
            }
            else if (BeekeepersWeb.UserSession.UserRole.ToString() == "2")
            {
                @:image = "http://beeconnected.ca/images/pin_contractor.png";
            }
            else
            {
                @:image = "http://beeconnected.ca/images/pin_contractor.png";
            }
            if (bool) {
                markerold = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    title: "@Model.note",
                    icon: image
                });
            }


            google.maps.event.addListener(map, 'click', function (event) {
                markerold.setMap(null);
                marker.setMap(null);
                document.getElementById("latitude").value = event.latLng.lat();
                document.getElementById("longitude").value = event.latLng.lng();
                
                marker = new google.maps.Marker({
                    position: event.latLng,
                    map: map,
                    title: "@Model.note",
                    icon: image
                });
            });

            var input = (
            document.getElementById('pac-input'));

            //var types = document.getElementById('type-selector');
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
            //map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.bindTo('bounds', map);

            var infowindow = new google.maps.InfoWindow();
            var marker = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29),
                title: "@Model.note",
                icon: image
            });

            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);  // Why 17? Because it looks good.
                }
                marker.setIcon(({
                    url: image,
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34)
                }));
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);
                document.getElementById("latitude").value = place.geometry.location.lat();
                document.getElementById("longitude").value = place.geometry.location.lng();
                //var address = '';
                //if (place.address_components) {
                //    address = [
                //      (place.address_components[0] && place.address_components[0].short_name || ''),
                //      (place.address_components[1] && place.address_components[1].short_name || ''),
                //      (place.address_components[2] && place.address_components[2].short_name || '')
                //    ].join(' ');
                //}

                //infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                //infowindow.open(map, marker);
            });

        }

        google.maps.event.addDomListener(window, 'load', initialize);
       
    </script>
    }
    @Html.Partial("loginmenus")
    <div class="right-db">
      <div class="full">
        <h1>@BeeKeepersBusiness.Resource.EditActivity</h1>
          </div>
        <div class="clear"></div>
        @Html.Partial("ValidationSummary", ViewData.ModelState)
        <div id="message">
            @if (@ViewBag.status != null && @ViewBag.status == "1")
            {
                <div class="alert alert-success" role="alert">@ViewBag.message</div> 
                <script type="text/javascript">
                    window.setTimeout(function () { HideMessage(); }, 2000);
                </script>
            }
            else if (@ViewBag.status != null && @ViewBag.status == "0")
            { 
                <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
                <script type="text/javascript">
                    window.setTimeout(function () { HideMessage(); }, 2000);
                </script>
            }
        </div>
        <div class="clear"></div>
        <div class="Register_bg">
            <div class="form_left-map">
                <input id="pac-input" class="controls" type="text"
                    placeholder="@BeeKeepersBusiness.Resource.Searchalocation">
                <div id="map-canvas"></div>

            </div>
            <div class="form_right">
                @Html.TextAreaFor(model => model.note, new {rows="2",cols="50", @placeholder =@BeeKeepersBusiness.Resource.Enternoteforactivity,@class="activitytextarea" })
                @Html.TextBoxFor(model => model.startdate, new { @readonly = "true", @id = "StartDate", @placeholder = @BeeKeepersBusiness.Resource.Pleaseselectstartdate, @class = "mini_text", @maxlength = "100" })
                @Html.TextBoxFor(model => model.enddate, new { @readonly = "true", @id = "enddate", @placeholder = @BeeKeepersBusiness.Resource.Pleaseselectenddate, @class = "mini_text" })
                @Html.TextBoxFor(model => model.longitude, new { @readonly = "true" })
                @Html.TextBoxFor(model => model.latitude, new { @readonly = "true" })
            </div>
            <div class="clear"></div>
        </div>
        <div class="Register_bottom">
            
            @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value=="fr")
            {
                <input type="image" src="~/Images/submit_BTN.png"  />
                <a href="@Url.Action("cancel")"><img src="~/images/cancel_btn.png"></a>
            }
            else
            {
                <input type="image" src="~/Images/submit_BTN_en.png"  />
                <a href="@Url.Action("cancel")"><img src="~/images/cancel_btn_en.png"></a>
            }
            
        </div>
    </div>

    
}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script type="text/javascript">
        $('#enddate').datepicker({
            dateFormat: 'dd-mm-yy',
            minDate: 0,
            onSelect: function () { },
            onClose: function () {
                $(this).focus();
            }
        });

        $('#StartDate').datepicker({
            dateFormat: 'dd-mm-yy',
            minDate: 0,
            onSelect: function (dateText, inst) {
                var nyd = new Date(dateText);
                var dateParts = dateText.split("-");
                var nyd_start = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
                var nyd = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
                nyd.setDate(nyd.getDate() - 1);
                @if (BeekeepersWeb.UserSession.UserRole.ToString() == "1")
                {
                    @Html.Raw("nyd.setMonth(nyd.getMonth() + 12);");
                } else {
                    @Html.Raw("nyd.setMonth(nyd.getMonth() + 2);");
                }
                $('#enddate').datepicker("option", {
                    minDate: new Date(dateText),
                    maxDate: nyd
                });
            },
            onClose: function () {
                $(this).focus();
            }
        });
        function setMaxDateValidation()
        {
            var dateParts = document.getElementById("StartDate").value.split("-");
            var edit_startdate = new Date(dateParts[2], dateParts[1] - 1, dateParts[0]);
            var currentdate = new Date();
            nyd=currentdate;
            if(new Date(currentdate.getMonth(),currentdate.getDate(),currentdate.getYear())>new Date(edit_startdate.getMonth(),edit_startdate.getDate(),edit_startdate.getYear()))
            {

                nyd.setDate(nyd.getDate() - 1);
                @if (BeekeepersWeb.UserSession.UserRole.ToString() == "1")
                {
                    @Html.Raw("nyd.setMonth(nyd.getMonth() + 12);");
                } else {
                    @Html.Raw("nyd.setMonth(nyd.getMonth() + 2);");
                }            }
            else
            {
                nyd=edit_startdate;
                nyd.setDate(nyd.getDate() - 1);
                @if (BeekeepersWeb.UserSession.UserRole.ToString() == "1")
                {
                    @Html.Raw("nyd.setMonth(nyd.getMonth() + 12);");
                } else {
                    @Html.Raw("nyd.setMonth(nyd.getMonth() + 2);");
                }            }
            var dateParts = document.getElementById("enddate").value.split("-");
            $('#enddate').datepicker("option", {
                minDate:new Date(dateParts[2], dateParts[1] - 1, dateParts[0]),
                maxDate: nyd
            });

        }
        $(document).ready(function(){
            setMaxDateValidation();
        });
    </script>
}
