﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
   

    .input-block {
        width: 96%;
        margin: 10px;
    }

    .alert-danger {
        background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    float: left;
    margin-left: 293px;
    margin-top: 135px;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 633px;
    z-index: 15000;
    }

    .alert-success {
       background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #468847;
        margin-left: 275px;
        margin-top: 95px;
        padding: 8px;
        position: absolute;
        text-align: center;
        width: 675px;
        z-index: 1000;
    }

    #map-canvas {
        border: 1px solid #777777;
        border-radius: 5px;
        height: 470px;
        width: 691px;
    }
</style>
@Html.Partial("loginmenus")
<div class="right-db">
 <div class="full">
    <h1> @BeeKeepersBusiness.Resource.Viewnearbyactivities</h1>
        </div>
    
    <div class="full" >
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js" integrity="sha256-FgiaQnQazF/QCrF9qSvpRY6PACn9ZF8VnlgqfqD1LsE=" crossorigin="anonymous"></script>

       <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAPAJCWKEzIL_kM-EBU9e-u0kMDffzoVwE&libraries=places"></script>
        
        <script type="text/javascript">
            
            function ShowBroadcast()
            {
                $("#div_broadcast").slideDown(500);
            }
            function HideBroadcast()
            {
                document.getElementById("txtmessage").value="";
                $("#div_broadcast").slideUp(500);
            }
            function messagevalidation()
            {
                if(document.getElementById("txtmessage").value=="")
                {
                    alert("@BeeKeepersBusiness.Resource.Pleaseenterbroadcastmessage");
                    return false;
                }
                else
                {
                    return true;
                }
            }
            function initialize() {
                var center = new google.maps.LatLng(@ViewBag.latitude, @ViewBag.longitude);
                var marker;
                var txtLat;
                var txtlong;
                var bool = true;
                txtLat = @ViewBag.latitude;
                txtlong = @ViewBag.longitude;
                bool = false;

                var myLatlng = new google.maps.LatLng(txtLat, txtlong);
        @if (BeekeepersWeb.UserSession.UserRole == "1")
        {
            @:image_me = "http://beeconnected.ca/images/pin_beekeeper.png";
        }
        else
        {
            @:image_me = "http://beeconnected.ca/images/pin_contractor.png";
        }
        
        
                var mapOptions = {
                    zoom: bool ? 8 : 10,
                    center: myLatlng,
                    MapTypeId: google.maps.MapTypeId.TERRAIN

                };
                var map = new google.maps.Map(document.getElementById('map-canvas'),
                  mapOptions);
                var circle = new google.maps.Circle({
                    center: center,
                    map: map,
                    radius: 5000,          // IN METERS.
                    fillColor: '#FF6600',
                    fillOpacity: 0.3,
                    strokeColor: "#FFF",
                    strokeWeight: 0         // DON'T SHOW CIRCLE BORDER.
                });
                var bounds = new google.maps.LatLngBounds();
                var infowindow = new google.maps.InfoWindow();
                var latlng = new google.maps.LatLng(@ViewBag.latitude, @ViewBag.longitude);
                bounds.extend(latlng);
                marker=new google.maps.Marker({map: map,icon: image_me,position: new google.maps.LatLng(@ViewBag.latitude, @ViewBag.longitude)});
                @if (@ViewBag.activityArround != null)
                {
                    foreach (var item in @ViewBag.activityArround)
                    {
                        if (item.usertype == 1)
                        {
                            @:image = "http://beeconnected.ca/images/pin_beekeeper.png";
                        }
                                    else
                                    {
                            @:image = "http://beeconnected.ca/images/pin_contractor.png";
                        }
                            @:var latlng = new google.maps.LatLng(@item.latitude, @item.longitude);
                                            @:bounds.extend(latlng);
                                            @:var marker = new google.maps.Marker({clickable: true,map: map,icon: image,position: new google.maps.LatLng(@item.latitude, @item.longitude)});
                                            @:google.maps.event.addListener(marker, 'click', function() {infowindow.setContent('<div style="float:left;width:200px;"><div style="float:left;width:200px;">@item.username</div><div style="float:left;width:200px;"><a href="@Url.Action("index", "userprofile", new { @id = @item.userid,@actid=@item.id})">@item.note</a></div></div>');infowindow.open(map, this);});
                        }
                     }
            }
        
            google.maps.event.addDomListener(window, 'load', initialize);
    
        </script>
       
        <div style="float: left; width: 100%;">
            <div style="float: left; padding: 0 10px 10px; width: 95%;">
                <div style="float: left; width: 85%;">
                    <img src="~/Images/calendar_icon@2X.png" style="margin-right: 10px; float: left;" /><div style="float: left;">@BeeKeepersBusiness.Resource.Startdate : @ViewBag.startdate </div>
                    &nbsp;&nbsp;
                    <img src="~/Images/calendar_icon@2X.png" style="margin-right: 10px; float: left; margin-left: 30px;" /><div style="float: left;">@BeeKeepersBusiness.Resource.Enddate : @ViewBag.enddate</div>
                </div>
                <div style="float: right; width: 6%;">
                    <img src="~/Images/emailicon@2x.png" style="cursor: pointer;" title="@BeeKeepersBusiness.Resource.SendBroadcastMessage" onclick="ShowBroadcast();" />

                </div>
            </div>
            <div style="float: left; width: 100%;">
                <div style=" background: none repeat scroll 0 0 rgb(255, 255, 255);border: 2px solid #0b4b00;float: left;height: 105px;position: absolute;top: auto;width: 688px;z-index: 10000; display: none;" id="div_broadcast">
                    @using (Html.BeginForm("SendBroadcast", "UserActivity"))
                    {
                        <input type="hidden" name="hdnactivity" id="hdnactivity" value="@ViewBag.acitvityid" />   
                        @Html.TextArea("txtmessage", new { @class = "broadcasttextarea", @placeholder = @BeeKeepersBusiness.Resource.Message })
                        <div class="input_block">
                            
                            <div style="float: right; width: 84px;">
                                @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value=="fr")
                                {
                                    <img   style="height:28px;cursor:pointer;" src="~/Images/cancelbtn1.png" onclick="HideBroadcast();" />
                                }
                                else
                                {
                                    <img   style="height:28px;cursor:pointer;" src="~/Images/cancelbtn1_en.png" onclick="HideBroadcast();" />
                                }
                            </div>
                            <div style="float: right; width: 71px;">
                                @if (Request.Cookies.Get("culture") != null && Request.Cookies.Get("culture").Value=="fr")
                                {
                                    <input type="image" src="~/Images/send_BTN.png" style="width: 65px; height: 28px; float: left" onclick="return messagevalidation();" />
                                }
                                else
                                {
                                    <input type="image" src="~/Images/send_BTN_en.png" style="width: 65px; height: 28px; float: left" onclick="return messagevalidation();" />
                                }

                            </div>
                        </div>
                    }

                </div>
                <div id="map-canvas"></div>
            </div>
        </div>
    </div>

</div>
<div id="message">
    @if (@ViewBag.status != null && @ViewBag.status == "1")
    {
            
        <div class="alert alert-success" role="alert">@ViewBag.message</div> 
        <script type="text/javascript">
            $(document).ready(function() {
                document.getElementById("txtmessage").value="";
            });
            window.setTimeout(function () { HideMessage(); }, 2000);
        </script>
    }
    else if (@ViewBag.status != null && @ViewBag.status == "0")
    { 
        <div class="alert alert-danger" role="alert">@ViewBag.message</div>   
        <script type="text/javascript">
            $(document).ready(function() {
                   
                $("#div_broadcast").slideDown(500);
            });
            window.setTimeout(function () { HideMessage(); }, 2000);
        </script>
    }
</div>
 